
 <div class="app-xz">
    <a href="" class="appa">
        <span class="app-tu"></span>
        <span class="app-zi">APP下载</span>
        <span class="app-jt"></span>
        <div class="download-icon">
            <p class="down-title">扫码下载APP</p>
            <p class="down-content">选座更优惠</p>
        </div>
    </a>

</div>
<form action="/query" target="_blank" class="search-form" data-actform="search-click">
    <input name="kw" class="search" type="search" maxlength="32" placeholder="找影视剧、影人、影院"
        autocomplete="off">
    <input class="submit" type="submit" value="">
</form>
<div class="user-info ">
    <a href="/login" class="user-avatar J-login">
        <img src="./images/shopping-mall/dl.png">
        <span class="careta"></span>
        <ul class="user-menu">
            <li><p>登录</p></li>
        </ul>
    </a>
</div>