<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./hostspot-ZJ.css">
</head>
<body>
    <div class="subnav">
        <ul class="navbar clearfix">
            <li><a href="/hostpot" class="active">热点首页</a></li>
            <li><a href="/news">新闻资讯</a></li>
            <li><a href="/movietrailer">预告片</a></li>
            <li><a href="/picbox">精彩图集</a></li>
        </ul>
    </div>
</body>
</html>