<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>波西米亚狂想曲-猫眼电影-一网打尽好电影</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/Bohemian_Rhapsody.css">
</head>

<body>
    <!-- 1.顶部导航start -->
    <div class="dh">
        <div class="dh_con">
            <%- include('./layouts/heady.ejs')%>
            <div class="nav">
                <ul class="nav-ul">
                    <li><a href="">首页</a></li>
                    <li><a href="">电影</a></li>
                    <li><a href="">影院</a></li>
                    <li><a href="">演出</a></li>
                    <li class="ys"><a href="">榜单</a></li>
                    <li><a href="">热点</a></li>
                    <li><a href="/shopping">商城</a></li>
                </ul>
            </div>
            <%- include('./layouts/header.ejs')%>
         
        </div>
    </div>
    <!-- 1.顶部导航end -->

    <!-- 2.电影版面start -->
    <div class="yz_wrapper">
        <div class="yz_wrapper2">
            <div class="yz_content yz_clearfix">
                <!-- 左边图片部分 -->
                <div class="yz_celeInfo_left">
                    <div class="yz_avatar_shadow">
                        <img src="./images/yz_BR_2.png" alt="">
                        <div class="yz_movie_ver">
                            <i class="yz_imax2d"></i>
                        </div>
                    </div>
                </div>
                <!-- 右边文字部分 -->
                <div class="yz_celeInfo_right">
                    <!-- 文字摘要 -->
                    <div class="yz_movie_brief">
                        <h3 class="yz_movir_brief_name">波西米亚狂想曲</h3>
                        <div class="yz_movir_brief_ename">Bohemian Rhapsody</div>
                        <ul>
                            <li class="yz_movir_brief_ellipsis">剧情,音乐,传记</li>
                            <li class="yz_movir_brief_ellipsis">英国,美国 / 131分钟</li>
                            <li class="yz_movir_brief_ellipsis">2019-03-22大陆上映</li>
                        </ul>
                    </div>
                    <!-- 下方图标 -->
                    <div class="yz_action-buyBtn">
                        <a href="">
                            <div>
                                <i class="yz_move_icon yz_wish_icon"></i>
                                <span class="yz_wish_msg">想看</span>
                            </div>
                        </a>
                        <a href="">
                            <div>
                                <i class="yz_move_icon yz_score_btn_icon"></i>
                                <span class="yz_score-btn-msg">评分</span>
                            </div>
                        </a>
                    </div>
                    <!-- 下方图标2 -->
                    <div class="yz_movie_stats_container">
                        <div class="yz_movie_index">
                            <p class="yz_movie_index_title">用户评分</p>
                            <div class="yz_movie_index_content yz_clearfix">
                                <span class="yz_index_left">
                                    <span class="yz_stonefont">9.5</span>
                                </span>
                                <div class="yz_index_right">
                                    <div class='yz_star_wrapper'>
                                        <div class="yz_star_on" style="width:95%;"></div>
                                    </div>
                                    <span class='yz_score_num'>
                                        <span class="yz_stonefont_pinfen">52813</span>
                                        人评分</span>
                                </div>
                            </div>
                        </div>
                        <div class="yz_movie_index">
                            <p class="yz_movie_index_title">累计票房</p>
                            <div class="yz_movie_index_content">
                                <span class="yz_stonefont_pidaofang">9870</span><span class="yz_unit">&nbsp;万</span>
                            </div>
                        </div>
                    </div>








                </div>
            </div>
        </div>
    </div>
    <!-- 2.电影版面end -->

    <!-- 3.介绍start -->
    <div class="yz_introduce">
        <div class="yz_content yz_clearfix">
            <!-- 左边 -->
            <div class="yz_tab_container">
                <div class="yz_tab_title_container yz_clearfix">
                    <div class="yz_tab_title yz_tab_title_active">介绍</div>
                    <div class="yz_tab_title">演职人员</div>
                    <div class="yz_tab_title">奖项</div>
                    <div class="yz_tab_title">图集</div>
                </div>
                <!-- 剧情简介 -->
                <div class="yz_module">
                    <h3 class="yz_synopsis">剧情简介</h3>
                    <span class="yz_dra">佛莱德·摩克瑞（拉米·马雷克 饰）曾是希思罗机场的一名普通搬运工，对音乐满腔热血的他，与布莱恩·梅（格威利姆·李 饰）、罗杰·泰勒（本·哈迪
                        饰）、约翰·迪肯（约瑟夫·梅泽罗
                        饰）组成皇后乐队。这个殿堂级乐队的从无到有，从疏离到重聚，从低谷到巅峰，仿佛就是佛莱德一生的缩影。在最后的日子里，佛莱德做了生命中最重要的决定——在音乐史上最伟大的“拯救生命”大型摇滚乐演唱会上，将所有热血付诸于歌声。</span>
                </div>
                <!-- 演职人员 -->
                <div class="yz_module">
                    <h3 class="yz_synopsis">演职人员</h3>
                    <a href="" class="yz_move_more">全部<i></i></a>
                    <div class="yz_staff">
                        <div>导演</div>
                        <div>演员</div>
                    </div>
                    <!-- 演职人员介绍  图片 -->
                    <ul class="yz_celebrity_list yz_clearfix">
                        <li class="yz_celebrity">
                            <a href="" class="yz_portrait"><img src="./images/yz_satff_1.png" alt=""></a>
                            <div class="yz_move_info">
                                <a href="">布莱恩·辛格</a>
                                <span></span>
                            </div>
                        </li>
                        <li class="yz_celebrity">
                            <a href="" class="yz_portrait"><img src="./images/yz_satff_2.png" alt=""></a>
                            <div class="yz_move_info">
                                <a href="">拉米·马雷克</a>
                                <span>饰： 佛莱迪·摩克瑞 Freddie Mercury</span>
                            </div>
                        </li>
                        <li class="yz_celebrity">
                            <a href="" class="yz_portrait"><img src="./images/yz_satff_3.png" alt=""></a>
                            <div class="yz_move_info">
                                <a href="">本·哈迪</a>
                                <span>饰：罗杰·泰勒 Roger Taylor</span>
                            </div>
                        </li>
                        <li class="yz_celebrity">
                            <a href="" class="yz_portrait"><img src="./images/yz_satff_4.png" alt=""></a>
                            <div class="yz_move_info">
                                <a href="">约瑟夫·梅泽罗</a>
                                <span>饰：约翰·迪肯 John Deacon</span>
                            </div>
                        </li>
                        <li class="yz_celebrity">
                            <a href="" class="yz_portrait"><img src="./images/yz_satff_5.png" alt=""></a>
                            <div class="yz_move_info">
                                <a href="">格威利姆·李</a>
                                <span>饰：布赖恩・哈罗德・梅 Brian May</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 奖项 -->
                <div class="yz_module">
                    <h3 class="yz_synopsis">奖项</h3>
                    <a href="" class="yz_move_more">全部<i></i></a>
                    <div class="yz_awards">
                        <div class="yz_clearfix">
                            <div class="yz_award_item_1">
                                <img src="./images/yz_icon_9.png" alt="">
                            </div>
                            <div class="yz_award_item_2">第91界奥斯卡金像奖</div>
                        </div>
                        <div class="yz_award_item_3">
                            <span>获奖：最佳男主角 / 最佳音响 / 最佳剪辑 / 最佳音效剪辑 / 最佳混音</span>
                            <span>提名：最佳影片</span>
                        </div>
                    </div>
                    <div class="yz_awards yz_awards_2">
                        <div class="yz_clearfix">
                            <div class="yz_award_item_1">
                                <img src="./images/yz_icon_10.png" alt="">
                            </div>
                            <div class="yz_award_item_2">第76届金球奖</div>
                        </div>
                        <div class="yz_award_item_3">
                            <span>获奖：最佳剧情电影 / 剧情电影最佳男主角</span>
                        </div>
                    </div>
                </div>
                <!-- 图集 -->
                <div class="yz_module">
                    <h3 class="yz_synopsis">图集</h3>
                    <a href="" class="yz_move_more">全部<i></i></a>
                    <div class="yz_picture yz_clearfix">
                        <div class="yz_picture_one">
                            <a href=""><img src="./images/yz_BR_3.png" alt=""></a>
                        </div>
                        <ul class="yz_picture_two yz_clearfix">
                            <li><a href=""><img src="./images/yz_BR_4.png" alt=""></a></li>
                            <li><a href=""><img src="./images/yz_BR_5.png" alt=""></a></li>
                            <li><a href=""><img src="./images/yz_BR_6.png" alt=""></a></li>
                            <li><a href=""><img src="./images/yz_BR_7.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <!-- 热门短评 -->
                <div class="yz_module">
                    <h3 class="yz_synopsis">热门短评</h3>
                    <a href="javascript:;" class="yz_write_comment">写短评</a>
                    <ul>
                        <li class="yz_clearfix yz_shortmain_list">
                            <!-- 头像部分 -->
                            <div class="yz_portrait-container">
                                <div class="yz_shortmain_portrait">
                                    <img src="./images/yz_icon_11.png" alt="">
                                </div>
                                <i></i>
                            </div>
                            <!-- 文字部分 -->
                            <div class="yz_shortmain">
                                <div class="yz_shortmain_modu1">
                                    <span class="yz_shortmain_name">古德.依温宁</span>
                                    <span class="yz_shortmain_tag">购</span>
                                </div>
                                <div class="yz_shortmain_modu2">
                                    <span>03-24</span>
                                    <span></span>
                                </div>
                                <div class="yz_shortmain_modu3">
                                    <i></i>
                                    <span>5973</span>
                                </div>
                                <div class="yz_shortmain_modu4">
                                    我是一个音乐人，即使没有一个像样的作品，无论是从精神还是生活，都承受着很大的压力，我想这些东西都是必将承受的，但就在我看这部电影的早上，我心爱的吉他被别人摔碎了，我这么大一个男人，我从为饿着肚子，任何事情流过眼泪，其实一把吉他可以再买，但摔碎的是我的努力，一腔热血，还有我所有的一文不值，我做梦也在想，我能在10万人的体育馆开演唱会，所有人都在唱着我的歌，我会为此而激动的睡不着觉。也许，我应该去找点工作，再买一把吉他，从现在开始。
                                </div>
                            </div>
                        </li>
                        <li class="yz_clearfix yz_shortmain_list">
                            <!-- 头像部分 -->
                            <div class="yz_portrait-container">
                                <div class="yz_shortmain_portrait">
                                    <img src="./images/yz_icon_11.png" alt="">
                                </div>
                                <i></i>
                            </div>
                            <!-- 文字部分 -->
                            <div class="yz_shortmain">
                                <div class="yz_shortmain_modu1">
                                    <span class="yz_shortmain_name">古德.依温宁</span>
                                    <span class="yz_shortmain_tag">购</span>
                                </div>
                                <div class="yz_shortmain_modu2">
                                    <span>03-24</span>
                                    <span></span>
                                </div>
                                <div class="yz_shortmain_modu3">
                                    <i></i>
                                    <span>5973</span>
                                </div>
                                <div class="yz_shortmain_modu4">
                                    我是一个音乐人，即使没有一个像样的作品，无论是从精神还是生活，都承受着很大的压力，我想这些东西都是必将承受的，但就在我看这部电影的早上，我心爱的吉他被别人摔碎了，我这么大一个男人，我从为饿着肚子，任何事情流过眼泪，其实一把吉他可以再买，但摔碎的是我的努力，一腔热血，还有我所有的一文不值，我做梦也在想，我能在10万人的体育馆开演唱会，所有人都在唱着我的歌，我会为此而激动的睡不着觉。也许，我应该去找点工作，再买一把吉他，从现在开始。
                                </div>
                            </div>
                        </li>
                        <li class="yz_clearfix yz_shortmain_list">
                            <!-- 头像部分 -->
                            <div class="yz_portrait-container">
                                <div class="yz_shortmain_portrait">
                                    <img src="./images/yz_icon_11.png" alt="">
                                </div>
                                <i></i>
                            </div>
                            <!-- 文字部分 -->
                            <div class="yz_shortmain">
                                <div class="yz_shortmain_modu1">
                                    <span class="yz_shortmain_name">古德.依温宁</span>
                                    <span class="yz_shortmain_tag">购</span>
                                </div>
                                <div class="yz_shortmain_modu2">
                                    <span>03-24</span>
                                    <span></span>
                                </div>
                                <div class="yz_shortmain_modu3">
                                    <i></i>
                                    <span>5973</span>
                                </div>
                                <div class="yz_shortmain_modu4">
                                    我是一个音乐人，即使没有一个像样的作品，无论是从精神还是生活，都承受着很大的压力，我想这些东西都是必将承受的，但就在我看这部电影的早上，我心爱的吉他被别人摔碎了，我这么大一个男人，我从为饿着肚子，任何事情流过眼泪，其实一把吉他可以再买，但摔碎的是我的努力，一腔热血，还有我所有的一文不值，我做梦也在想，我能在10万人的体育馆开演唱会，所有人都在唱着我的歌，我会为此而激动的睡不着觉。也许，我应该去找点工作，再买一把吉他，从现在开始。
                                </div>
                            </div>
                        </li>
                        <li class="yz_clearfix yz_shortmain_list">
                            <!-- 头像部分 -->
                            <div class="yz_portrait-container">
                                <div class="yz_shortmain_portrait">
                                    <img src="./images/yz_icon_11.png" alt="">
                                </div>
                                <i></i>
                            </div>
                            <!-- 文字部分 -->
                            <div class="yz_shortmain">
                                <div class="yz_shortmain_modu1">
                                    <span class="yz_shortmain_name">古德.依温宁</span>
                                    <span class="yz_shortmain_tag">购</span>
                                </div>
                                <div class="yz_shortmain_modu2">
                                    <span>03-24</span>
                                    <span></span>
                                </div>
                                <div class="yz_shortmain_modu3">
                                    <i></i>
                                    <span>5973</span>
                                </div>
                                <div class="yz_shortmain_modu4">
                                    我是一个音乐人，即使没有一个像样的作品，无论是从精神还是生活，都承受着很大的压力，我想这些东西都是必将承受的，但就在我看这部电影的早上，我心爱的吉他被别人摔碎了，我这么大一个男人，我从为饿着肚子，任何事情流过眼泪，其实一把吉他可以再买，但摔碎的是我的努力，一腔热血，还有我所有的一文不值，我做梦也在想，我能在10万人的体育馆开演唱会，所有人都在唱着我的歌，我会为此而激动的睡不着觉。也许，我应该去找点工作，再买一把吉他，从现在开始。
                                </div>
                            </div>
                        </li>
                        <li class="yz_clearfix yz_shortmain_list">
                            <!-- 头像部分 -->
                            <div class="yz_portrait-container">
                                <div class="yz_shortmain_portrait">
                                    <img src="./images/yz_icon_11.png" alt="">
                                </div>
                                <i></i>
                            </div>
                            <!-- 文字部分 -->
                            <div class="yz_shortmain">
                                <div class="yz_shortmain_modu1">
                                    <span class="yz_shortmain_name">古德.依温宁</span>
                                    <span class="yz_shortmain_tag">购</span>
                                </div>
                                <div class="yz_shortmain_modu2">
                                    <span>03-24</span>
                                    <span></span>
                                </div>
                                <div class="yz_shortmain_modu3">
                                    <i></i>
                                    <span>5973</span>
                                </div>
                                <div class="yz_shortmain_modu4">
                                    我是一个音乐人，即使没有一个像样的作品，无论是从精神还是生活，都承受着很大的压力，我想这些东西都是必将承受的，但就在我看这部电影的早上，我心爱的吉他被别人摔碎了，我这么大一个男人，我从为饿着肚子，任何事情流过眼泪，其实一把吉他可以再买，但摔碎的是我的努力，一腔热血，还有我所有的一文不值，我做梦也在想，我能在10万人的体育馆开演唱会，所有人都在唱着我的歌，我会为此而激动的睡不着觉。也许，我应该去找点工作，再买一把吉他，从现在开始。
                                </div>
                            </div>
                        </li>
                        <li class="yz_clearfix yz_shortmain_list">
                            <!-- 头像部分 -->
                            <div class="yz_portrait-container">
                                <div class="yz_shortmain_portrait">
                                    <img src="./images/yz_icon_11.png" alt="">
                                </div>
                                <i></i>
                            </div>
                            <!-- 文字部分 -->
                            <div class="yz_shortmain">
                                <div class="yz_shortmain_modu1">
                                    <span class="yz_shortmain_name">古德.依温宁</span>
                                    <span class="yz_shortmain_tag">购</span>
                                </div>
                                <div class="yz_shortmain_modu2">
                                    <span>03-24</span>
                                    <span></span>
                                </div>
                                <div class="yz_shortmain_modu3">
                                    <i></i>
                                    <span>5973</span>
                                </div>
                                <div class="yz_shortmain_modu4">
                                    我是一个音乐人，即使没有一个像样的作品，无论是从精神还是生活，都承受着很大的压力，我想这些东西都是必将承受的，但就在我看这部电影的早上，我心爱的吉他被别人摔碎了，我这么大一个男人，我从为饿着肚子，任何事情流过眼泪，其实一把吉他可以再买，但摔碎的是我的努力，一腔热血，还有我所有的一文不值，我做梦也在想，我能在10万人的体育馆开演唱会，所有人都在唱着我的歌，我会为此而激动的睡不着觉。也许，我应该去找点工作，再买一把吉他，从现在开始。
                                </div>
                            </div>
                        </li>
                        <li class="yz_clearfix yz_shortmain_list">
                            <!-- 头像部分 -->
                            <div class="yz_portrait-container">
                                <div class="yz_shortmain_portrait">
                                    <img src="./images/yz_icon_11.png" alt="">
                                </div>
                                <i></i>
                            </div>
                            <!-- 文字部分 -->
                            <div class="yz_shortmain">
                                <div class="yz_shortmain_modu1">
                                    <span class="yz_shortmain_name">古德.依温宁</span>
                                    <span class="yz_shortmain_tag">购</span>
                                </div>
                                <div class="yz_shortmain_modu2">
                                    <span>03-24</span>
                                    <span></span>
                                </div>
                                <div class="yz_shortmain_modu3">
                                    <i></i>
                                    <span>5973</span>
                                </div>
                                <div class="yz_shortmain_modu4">
                                    我是一个音乐人，即使没有一个像样的作品，无论是从精神还是生活，都承受着很大的压力，我想这些东西都是必将承受的，但就在我看这部电影的早上，我心爱的吉他被别人摔碎了，我这么大一个男人，我从为饿着肚子，任何事情流过眼泪，其实一把吉他可以再买，但摔碎的是我的努力，一腔热血，还有我所有的一文不值，我做梦也在想，我能在10万人的体育馆开演唱会，所有人都在唱着我的歌，我会为此而激动的睡不着觉。也许，我应该去找点工作，再买一把吉他，从现在开始。
                                </div>
                            </div>
                        </li>
                        <li class="yz_clearfix yz_shortmain_list">
                            <!-- 头像部分 -->
                            <div class="yz_portrait-container">
                                <div class="yz_shortmain_portrait">
                                    <img src="./images/yz_icon_11.png" alt="">
                                </div>
                                <i></i>
                            </div>
                            <!-- 文字部分 -->
                            <div class="yz_shortmain">
                                <div class="yz_shortmain_modu1">
                                    <span class="yz_shortmain_name">古德.依温宁</span>
                                    <span class="yz_shortmain_tag">购</span>
                                </div>
                                <div class="yz_shortmain_modu2">
                                    <span>03-24</span>
                                    <span></span>
                                </div>
                                <div class="yz_shortmain_modu3">
                                    <i></i>
                                    <span>5973</span>
                                </div>
                                <div class="yz_shortmain_modu4">
                                    我是一个音乐人，即使没有一个像样的作品，无论是从精神还是生活，都承受着很大的压力，我想这些东西都是必将承受的，但就在我看这部电影的早上，我心爱的吉他被别人摔碎了，我这么大一个男人，我从为饿着肚子，任何事情流过眼泪，其实一把吉他可以再买，但摔碎的是我的努力，一腔热血，还有我所有的一文不值，我做梦也在想，我能在10万人的体育馆开演唱会，所有人都在唱着我的歌，我会为此而激动的睡不着觉。也许，我应该去找点工作，再买一把吉他，从现在开始。
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 右边 -->
            <div class="yz_tab_container_right">
                <!-- 相关资讯 -->
                <div class="yz_module_right">
                    <h3 class="yz_synopsis">相关资讯</h3>
                    <dl class="yz_news_list">
                        <dd class="yz_news_item yz_clearfix">
                            <div class="yz_news_img">
                                <a href=""><img src="./images/yz_BR_8.png" alt=""></a>
                            </div>
                            <div class="yz_news_main">
                                <div class="yz_news_title"><a href="">《波西米亚狂想曲》全球票房9亿美元，跻身影史最卖座音乐传记片</a></div>
                                <div class="yz_news_info">
                                    <span>猫眼电影</span>
                                    <span><i></i>5967</span>
                                    <span><i></i>4</span>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_news_item yz_clearfix">
                            <div class="yz_news_img">
                                <a href=""><img src="./images/yz_BR_8.png" alt=""></a>
                            </div>
                            <div class="yz_news_main">
                                <div class="yz_news_title"><a href="">《波西米亚狂想曲》曝肢体动作特辑，定格皇后乐队经典演出瞬间</a></div>
                                <div class="yz_news_info">
                                    <span>猫眼电影</span>
                                    <span><i></i>7864</span>
                                    <span><i></i>0</span>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_news_item yz_clearfix">
                            <div class="yz_news_img">
                                <a href=""><img src="./images/yz_BR_9.png" alt=""></a>
                            </div>
                            <div class="yz_news_main">
                                <div class="yz_news_title"><a href="">《波西米亚狂想曲》曝女主特辑，以爱之力见证皇后乐队传奇再现</a></div>
                                <div class="yz_news_info">
                                    <span>猫眼电影</span>
                                    <span><i></i>5150</span>
                                    <span><i></i></span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
                <!-- 相关电影 -->
                <div class="yz_module">
                    <h3 class="yz_synopsis">相关电影</h3>
                    <ul class="yz_movie_list yz_clearfix">
                        <li class="yz_movie_item">
                            <div class="yz_movie_poster">
                                <a href=""><img src="./images/yz_BR_10.png" alt=""></a>
                            </div>
                            <div  class="yz_movie_item_title">
                                <a>五月天人生无限公司</a>
                            </div>
                            <div class="yz_channel_detail">暂无评分</div>
                        </li>
                        <li class="yz_movie_item">
                            <div class="yz_movie_poster">
                                <a href=""><img src="./images/yz_BR_11.png" alt=""></a>
                            </div>
                            <div class="yz_movie_item_title">
                                <a>少年追梦情</a>
                            </div>
                            <div class="yz_channel_detail">暂无评分</div>
                        </li>
                        <li class="yz_movie_item">
                            <div>
                                <a href=""><img src="./images/yz_BR_12.png" alt=""></a>
                            </div>
                            <div class="yz_movie_item_title">
                                <a>遇见明天</a>
                            </div>
                            <div class="yz_channel_detail">暂无评分</div>
                        </li>
                        <li class="yz_movie_item">
                            <div>
                                <a href=""><img src="./images/yz_BR_13.png" alt=""></a>
                            </div>
                            <div class="yz_movie_item_title">
                                <a>一个明星的诞生</a>
                            </div>
                            <div class="yz_channel_detail">暂无评分</div>
                        </li>
                        <li class="yz_movie_item">
                            <div class="yz_movie_poster">
                                <a href=""><img src="./images/yz_BR_14.png" alt=""></a>
                            </div>
                            <div class="yz_movie_item_title">
                                <a>你幸福我快乐</a>
                            </div>
                            <div class="yz_channel_detail">暂无评分</div>
                        </li>
                        <li class="yz_movie_item">
                            <div class="yz_movie_poster">
                                <a href=""><img src="./images/yz_BR_15.png" alt=""></a>
                            </div>
                            <div class="yz_movie_item_title">
                                <a>家</a>
                            </div>
                            <div class="yz_channel_detail">暂无评分</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- 3.介绍end -->


    <!-- 4.底部start -->
    <%- include('./layouts/bottom.ejs')%>
    <!-- 4.底部end -->
</body>

</html>