<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>热映口碑榜-猫眼电影-一网打尽好电影</title>
    <link rel="stylesheet" href="../public/css/crunchies.css">
</head>
<body>
    <!-- 2.分类部分start -->
    <div class="yz_category">
        <ul class="yz_category_navbar">
            <li><a href="">热映口碑榜</a></li>
            <li><a href="">最受期待榜</a></li>
            <li><a href="">国内票房榜</a></li>
            <li><a href="">北美票房榜</a></li>
            <li><a href="">TOP100榜</a></li>
        </ul>
    </div>
    <!-- 2.分类部分end -->

    <!-- 3.内容部分start -->
    <div class="yz_container">
        <div class="yz_content">
            <div class="yz_wrapper">
                <div class="yz_main">
                    <p class="yz_update-time">2019-05-12<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将昨日国内热映的影片，按照评分从高到低排列取前10名，每天上午10点更新。相关数据来源于“猫眼专业版”及“猫眼电影库”。</p>
                    <dl class="yz_board-wrapper">
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_1"></i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_1.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">波希米亚狂想曲</a></p>
                                        <p class="yz_star">主演：拉米·马雷克,本·哈迪,约瑟夫·梅泽罗</p>
                                        <p class="yz_releasetime">上映时间：2019-03-22</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">5</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_2">2</i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_2.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">何以为家</a></p>
                                        <p class="yz_star">主演：赞恩·阿尔·拉菲亚,约丹诺斯·希费罗,博鲁瓦蒂夫·特雷杰·班科尔</p>
                                        <p class="yz_releasetime">上映时间：2019-04-29</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">4</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_3">3</i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_3.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">一个母亲的复仇</a></p>
                                        <p class="yz_star">主演：希里黛玉,阿克夏耶·坎纳,萨佳·阿里</p>
                                        <p class="yz_releasetime">上映时间：2019-05-10</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">3</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_4">4</i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_4.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">老师·好</a></p>
                                        <p class="yz_star">主演：于谦,汤梦佳,王广源</p>
                                        <p class="yz_releasetime">上映时间：2019-03-22</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">3</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_5">5</i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_5.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">港珠澳大桥</a></p>
                                        <p class="yz_star"></p>
                                        <p class="yz_releasetime">上映时间：2019-05-01</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">2</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_6">6</i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_6.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">复仇者联盟4：终局之战</a></p>
                                        <p class="yz_star">主演：小罗伯特·唐尼,克里斯·埃文斯,马克·鲁法洛</p>
                                        <p class="yz_releasetime">上映时间：2019-04-24</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_7">7</i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_7.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">反贪风暴4</a></p>
                                        <p class="yz_star">主演：古天乐,郑嘉颖,林峯</p>
                                        <p class="yz_releasetime">上映时间：2019-04-04</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_8">8</i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_8.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">调音师</a></p>
                                        <p class="yz_star">主演：阿尤斯曼·库拉纳,塔布,拉迪卡·艾普特</p>
                                        <p class="yz_releasetime">上映时间：2019-04-03</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_9">9</i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_9.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">天上再见</a></p>
                                        <p class="yz_star">主演：纳威尔·佩雷兹·毕斯卡亚特,阿尔贝·杜邦泰尔,艾米莉·德奎恩</p>
                                        <p class="yz_releasetime">上映时间：2019-04-03</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_10">10</i>
                            <a href="" class="yz_image_link">
                                <img src="../public/images/yz_move_10.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">进京城</a></p>
                                        <p class="yz_star">主演：马伊琍,富大龙,马敬涵</p>
                                        <p class="yz_releasetime">上映时间：2019-05-10</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">0</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- 3.内容部分end -->

    <!-- 4.底部start -->
    <!-- 4.底部end-->
</body>
</html>