<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>热映口碑榜-猫眼电影-一网打尽好电影</title>
    <link rel="stylesheet" href="./css/crunchies.css">
</head>

<body>
    <!-- 1.顶部start -->
    <%- include('./layouts/crunchies_heade.ejs')%>
    <!-- 1.顶部end -->

    <!-- 2.分类部分start -->
    <div class="yz_category">
        <ul class="yz_category_navbar">
            <li>
                <a href="javascript:;" cont="reyin" class="yz_active">热映口碑榜</a>
                <span class="yz_category_navbar_hint yz_active2" style="display:block"></span>
            </li>
            <li>
                <a href="javascript:;" cont="qidai">最受期待榜</a>
            </li>
            <li>
                <a href="javascript:;" cont="guonei">国内票房榜</a>
            </li>
            <li>
                <a href="javascript:;" cont="beimei">北美票房榜</a>
            </li>
            <li>
                <a href="javascript:;" cont="TOP100">TOP100榜</a>
            </li>
        </ul>
    </div>
    <!-- 2.分类部分end -->

    <!-- 3.内容部分start -->
    <div class="yz_container">
        <div class="yz_content">
            <!-- 热映口碑榜 -->
            <div id="reyin" class="yz_wrapper yz_section" style="display:block">
                <div class="yz_main">
                    <p class="yz_update-time">2019-05-12<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将昨日国内热映的影片，按照评分从高到低排列取前10名，每天上午10点更新。相关数据来源于“猫眼专业版”及“猫眼电影库”。</p>
                    <dl class="yz_board-wrapper">
                        <!-- 电影信息部分 -->
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_1"></i>
                            <a href="../views/Bohemian_Rhapsody.html" class="yz_image_link">
                                <img src="./images/yz_move_1.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="../views/Bohemian_Rhapsody.html">波希米亚狂想曲</a></p>
                                        <p class="yz_star">主演：拉米·马雷克,本·哈迪,约瑟夫·梅泽罗</p>
                                        <p class="yz_releasetime">上映时间：2019-03-22</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">5</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_2">2</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_move_2.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">何以为家</a></p>
                                        <p class="yz_star">主演：赞恩·阿尔·拉菲亚,约丹诺斯·希费罗,博鲁瓦蒂夫·特雷杰·班科尔</p>
                                        <p class="yz_releasetime">上映时间：2019-04-29</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">4</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_3">3</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_move_3.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">一个母亲的复仇</a></p>
                                        <p class="yz_star">主演：希里黛玉,阿克夏耶·坎纳,萨佳·阿里</p>
                                        <p class="yz_releasetime">上映时间：2019-05-10</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">3</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_4">4</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_move_4.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">老师·好</a></p>
                                        <p class="yz_star">主演：于谦,汤梦佳,王广源</p>
                                        <p class="yz_releasetime">上映时间：2019-03-22</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">3</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_5">5</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_move_5.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">港珠澳大桥</a></p>
                                        <p class="yz_star"></p>
                                        <p class="yz_releasetime">上映时间：2019-05-01</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">2</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_6">6</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_move_6.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">复仇者联盟4：终局之战</a></p>
                                        <p class="yz_star">主演：小罗伯特·唐尼,克里斯·埃文斯,马克·鲁法洛</p>
                                        <p class="yz_releasetime">上映时间：2019-04-24</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_7">7</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_move_7.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">反贪风暴4</a></p>
                                        <p class="yz_star">主演：古天乐,郑嘉颖,林峯</p>
                                        <p class="yz_releasetime">上映时间：2019-04-04</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_8">8</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_move_8.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">调音师</a></p>
                                        <p class="yz_star">主演：阿尤斯曼·库拉纳,塔布,拉迪卡·艾普特</p>
                                        <p class="yz_releasetime">上映时间：2019-04-03</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_9">9</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_move_9.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">天上再见</a></p>
                                        <p class="yz_star">主演：纳威尔·佩雷兹·毕斯卡亚特,阿尔贝·杜邦泰尔,艾米莉·德奎恩</p>
                                        <p class="yz_releasetime">上映时间：2019-04-03</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_10">10</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_move_10.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">进京城</a></p>
                                        <p class="yz_star">主演：马伊琍,富大龙,马敬涵</p>
                                        <p class="yz_releasetime">上映时间：2019-05-10</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">0</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- 最受期待榜 -->
            <div id="qidai" class="yz_wrapper yz_section">
                <div class="yz_main">
                    <p class="yz_update-time">2019-05-13<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将昨日国内待映影片，按照之前30天的想看数总量从高到低排列取前50名，每天上午10点更新。相关数据来源于“猫眼电影库”。</p>
                    <dl class="yz_board-wrapper">
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_1"></i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_1.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">哥斯拉2：怪兽之王</a></p>
                                        <p class="yz_star">主演：米莉·波比·布朗,凯尔·钱德勒,莎莉·霍金斯</p>
                                        <p class="yz_releasetime">上映时间：2019-05-31</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>141348</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>198150</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_2">2</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_2.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">唐人街探案3</a></p>
                                        <p class="yz_star">主演：王宝强,刘昊然,张子枫</p>
                                        <p class="yz_releasetime">上映时间：2020-01-25</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>55737</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>68932</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_3">3</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_3.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">扫毒2天地对决</a></p>
                                        <p class="yz_star">主演：刘德华,古天乐,苗侨伟</p>
                                        <p class="yz_releasetime">上映时间：2019-07-12</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>55506</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>92569</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_4">4</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_4.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">黑衣人：全球追缉</a></p>
                                        <p class="yz_star">主演：克里斯·海姆斯沃斯,泰莎·汤普森,丽贝卡·弗格森</p>
                                        <p class="yz_releasetime">上映时间：2019-06-14</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>54803</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>66643</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_5">5</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_5.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">少年的你</a></p>
                                        <p class="yz_star">主演：周冬雨,易烊千玺</p>
                                        <p class="yz_releasetime">上映时间：2019-06-27</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>52112</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>147013</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_6">6</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_6.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">追龙Ⅱ</a></p>
                                        <p class="yz_star">主演：梁家辉,古天乐,林家栋</p>
                                        <p class="yz_releasetime">上映时间：2019-06-06</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>40036</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>41732</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_7">7</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_7.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">使徒行者2：谍影行动</a></p>
                                        <p class="yz_star">主演：张家辉,古天乐,吴镇宇</p>
                                        <p class="yz_releasetime">上映时间：2019-08-09</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>35865</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>38803</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_8">8</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_8.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">龙珠超：布罗利</a></p>
                                        <p class="yz_star">主演：野泽雅子,堀川亮,中尾隆圣</p>
                                        <p class="yz_releasetime">上映时间：2019-05-24</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>31134</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>42300</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_9">9</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_9.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">五月天人生无限公司</a></p>
                                        <p class="yz_star">主演：温尚翊,石锦航,蔡升晏</p>
                                        <p class="yz_releasetime">上映时间：2019-05-24</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>29246</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>37478</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_10">10</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_qidai_10.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">阿拉丁</a></p>
                                        <p class="yz_star">主演：梅纳·玛索德,娜奥米·斯科特,威尔·史密斯</p>
                                        <p class="yz_releasetime">上映时间：2019-05-24</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_month-wish">
                                            本月新增想看：<span>25674</span>人
                                        </p>
                                        <p class="yz_total-wish">
                                            总想看：<span>27059</span>人
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- 国内票房榜 -->
            <div id="guonei" class="yz_wrapper yz_section">
                <div class="yz_main">
                    <p class="yz_update-time">2019-05-13<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将昨日国内热映的影片，按照昨日票房从高到低排列，每天上午10点更新。相关数据来源于“猫眼专业版”。</p>
                    <dl class="yz_board-wrapper">
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_1"></i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_1.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">大侦探皮卡丘</a></p>
                                        <p class="yz_star">主演：瑞安·雷诺兹,贾斯蒂斯·史密斯,凯瑟琳·纽顿</p>
                                        <p class="yz_releasetime">上映时间：2019-05-10</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>8307.5</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>2.75</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_2">2</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_2.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">复仇者联盟4：终局之战</a></p>
                                        <p class="yz_star">主演：小罗伯特·唐尼,克里斯·埃文斯,马克·鲁法洛</p>
                                        <p class="yz_releasetime">上映时间：2019-04-24</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>3982.1</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>41.07</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_3">3</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_3.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">何以为家</a></p>
                                        <p class="yz_star">主演：赞恩·阿尔·拉菲亚,约丹诺斯·希费罗,博鲁瓦蒂夫·特雷杰·班科尔</p>
                                        <p class="yz_releasetime">上映时间：2019-04-29</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>2064.4</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>2.81</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_4">4</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_4.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">一个母亲的复仇</a></p>
                                        <p class="yz_star">主演：希里黛玉,阿克夏耶·坎纳,萨佳·阿里</p>
                                        <p class="yz_releasetime">上映时间：2019-05-10</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>1416.3</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>4026.0</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_5">5</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_5.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">罗马</a></p>
                                        <p class="yz_star">主演：雅利扎·阿巴里西奥,玛丽娜·德·塔维拉,迭戈·科蒂娜·奥特里</p>
                                        <p class="yz_releasetime">上映时间：2019-05-10</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>89.8</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>275.0</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_6">6</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_6.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">进京城</a></p>
                                        <p class="yz_star">主演：马伊琍,富大龙,马敬涵</p>
                                        <p class="yz_releasetime">上映时间：2019-05-10</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>83</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>350.0</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_7">7</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_7.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">下一任：前任</a></p>
                                        <p class="yz_star">主演：郭采洁,郑恺,李东学</p>
                                        <p class="yz_releasetime">上映时间：2019-05-01</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>81.4</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>1.16</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_8">8</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_8.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">反贪风暴4</a></p>
                                        <p class="yz_star">主演：古天乐,郑嘉颖,林峯</p>
                                        <p class="yz_releasetime">上映时间：2019-04-04</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>51.3</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>7.91</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_9">9</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_9.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">神奇乐园历险记</a></p>
                                        <p class="yz_star">主演：索菲亚·玛丽,詹妮弗·加纳,肯·哈德森·坎贝尔</p>
                                        <p class="yz_releasetime">上映时间：2019-04-19</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>46.7</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>4643</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_10">10</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_guonei_10.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">调音师</a></p>
                                        <p class="yz_star">主演：阿尤斯曼·库拉纳,塔布,拉迪卡·艾普特</p>
                                        <p class="yz_releasetime">上映时间：2019-04-03</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            实时票房：<span>26.6</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>3.24</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- 北美票房榜 -->
            <div id="beimei" class="yz_wrapper yz_section">
                <div class="yz_main">
                    <p class="yz_update-time">2018-07-16<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将北美地区热映的影片，按照上周末票房从高到低排列，每周一更新。相关数据来源于“猫眼专业版”。</p>
                    <dl class="yz_board-wrapper">
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_1"></i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_1.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">精灵旅社3：疯狂假期</a></p>
                                        <p class="yz_star">主演：亚当·桑德勒,赛琳娜·戈麦斯,凯瑟琳·哈恩</p>
                                        <p class="yz_releasetime">上映时间：2018-08-17</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>4410.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>4537.0</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_2">2</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_2.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">蚁人2：黄蜂女现身</a></p>
                                        <p class="yz_star">主演：保罗·路德,伊万杰琳·莉莉,迈克尔·佩纳</p>
                                        <p class="yz_releasetime">上映时间：2018-08-24</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>2884.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>1.33</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_3">3</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_3.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">摩天营救</a></p>
                                        <p class="yz_star">主演：道恩·强森,昆凌,文峰</p>
                                        <p class="yz_releasetime">上映时间：2018-07-20</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>2548.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>2548.0</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_4">4</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_4.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">超人总动员2</a></p>
                                        <p class="yz_star">主演：格雷格·T·尼尔森,霍利·亨特,莎拉·沃威尔</p>
                                        <p class="yz_releasetime">上映时间：2018-06-22</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>1622.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>5.36</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_5">5</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_5.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">侏罗纪世界2</a></p>
                                        <p class="yz_star">主演：克里斯·帕拉特,布莱丝·达拉斯·霍华德,泰德·拉文</p>
                                        <p class="yz_releasetime">上映时间：2018-06-15</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>1511.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>3.36</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_6">6</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_6.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">人类清除计划4</a></p>
                                        <p class="yz_star">主演：莫·麦克雷,劳伦·维勒斯,梅罗妮·迪亚兹</p>
                                        <p class="yz_releasetime">上映时间：2018-07-04(美国)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>913.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>4950.0</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_7">7</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_7.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">抱歉打扰</a></p>
                                        <p class="yz_star">主演：泰莎·汤普森,勒凯斯·斯坦菲尔德,史蒂文·元</p>
                                        <p class="yz_releasetime">上映时间：2018-01-20(圣丹斯电影节)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>425.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>532.0</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_8">8</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_8.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">边境杀手2：边境战士</a></p>
                                        <p class="yz_star">主演：本尼西奥·德·托罗,乔什·布洛林,凯瑟琳·基纳</p>
                                        <p class="yz_releasetime">上映时间：2018-06-29(美国)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>385.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>4320.0</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_9">9</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_9.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">德鲁大叔</a></p>
                                        <p class="yz_star">主演：凯里·欧文,里尔·莱尔·哈瓦瑞,沙奎尔·奥尼尔</p>
                                        <p class="yz_releasetime">上映时间：2019-01-11</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>322.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>3669.0</span>万
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_10">10</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_beimei_10.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">瞒天过海：美人计</a></p>
                                        <p class="yz_star">主演：桑德拉·布洛克,凯特·布兰切特,安妮·海瑟薇</p>
                                        <p class="yz_releasetime">上映时间：2018-06-08(美国)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_realtime">
                                            上周末票房：<span>291.0</span>万
                                        </p>
                                        <p class="yz_total-boxoffice">
                                            总票房：<span>1.32</span>亿
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- TOP100榜 -->
            <div id="TOP100" class="yz_wrapper yz_section">
                <div class="yz_main">
                    <p class="yz_update-time">2019-05-13<span class="yz_has-fresh-text">已更新</span></p>
                    <p class="yz_board-content">榜单规则：将猫眼电影库中的经典影片，按照评分和评分人数从高到低综合排序取前100名，每天上午10点更新。相关数据来源于“猫眼电影库”。</p>
                    <dl class="yz_board-wrapper">
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_1"></i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_1.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">霸王别姬</a></p>
                                        <p class="yz_star">主演：张国荣,张丰毅,巩俐</p>
                                        <p class="yz_releasetime">上映时间：1993-01-01</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">5</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_2">2</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_2.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">肖申克的救赎</a></p>
                                        <p class="yz_star">主演：蒂姆·罗宾斯,摩根·弗里曼,鲍勃·冈顿</p>
                                        <p class="yz_releasetime">上映时间：1994-10-14(美国)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">4</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_3">3</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_3.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">罗马假日</a></p>
                                        <p class="yz_star">主演：格利高里·派克,奥黛丽·赫本,埃迪·艾伯特</p>
                                        <p class="yz_releasetime">上映时间：1953-09-02(美国)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">3</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_4">4</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_4.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">这个杀手不太冷</a></p>
                                        <p class="yz_star">主演：让·雷诺,加里·奥德曼,娜塔莉·波特曼</p>
                                        <p class="yz_releasetime">上映时间：1994-09-14(法国)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">3</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_5">5</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_5.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">泰坦尼克号</a></p>
                                        <p class="yz_star">主演：莱昂纳多·迪卡普里奥,凯特·温丝莱特,比利·赞恩</p>
                                        <p class="yz_releasetime">上映时间：1998-04-03</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">2</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_6">6</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_6.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">上映时间：1998-04-03</a></p>
                                        <p class="yz_star">主演：周星驰,巩俐,郑佩佩</p>
                                        <p class="yz_releasetime">上映时间：1993-07-01(中国香港)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_7">7</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_7.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">魂断蓝桥</a></p>
                                        <p class="yz_star">主演：费雯·丽,罗伯特·泰勒,露塞尔·沃特森</p>
                                        <p class="yz_releasetime">上映时间：1940-05-17(美国)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_8">8</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_8.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">乱世佳人</a></p>
                                        <p class="yz_star">主演：费雯·丽,克拉克·盖博,奥利维娅·德哈维兰</p>
                                        <p class="yz_releasetime">上映时间：1939-12-15(美国)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_9">9</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_9.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">天空之城</a></p>
                                        <p class="yz_star">上映时间：1939-12-15(美国)</p>
                                        <p class="yz_releasetime">上映时间：1992</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">1</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dd class="yz_clearfix">
                            <i class="yz_board-index yz_board-index_10">10</i>
                            <a href="" class="yz_image_link">
                                <img src="./images/yz_TOP100_10.png" alt="">
                            </a>
                            <div class="yz_board-item-main">
                                <div class="yz_board-item-content">
                                    <div class="yz_movie-item-info">
                                        <p class="yz_name"><a href="">辛德勒的名单</a></p>
                                        <p class="yz_star">主演：连姆·尼森,拉尔夫·费因斯,本·金斯利</p>
                                        <p class="yz_releasetime">上映时间：1993-12-15(美国)</p>
                                    </div>
                                    <div class="yz_movie-item-number">
                                        <p class="yz_score">
                                            <i class="yz_integer">9.</i>
                                            <i class="yz_fraction">0</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- 3.内容部分end -->

    <!-- 4.底部start -->
    <%- include('./layouts/bottom.ejs')%>
    <!-- 4.底部end-->



</body>
<script src="./js/jquery-3.3.1.min.js"></script>
<script src="./js/crunchies.js"></script>

</html>