body{
    font-family: Microsoft YaHei
}

ul,ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h4 {
    font-weight: 400;
}

.red {
    color: #ef4238;
}

a:hover {
    color: #ef4238;
}
/* 导航 */
.subnav {
    background-color: #47464a;
    height: 60px;
    width: 100%;
    min-width: 1200px;
    text-align: center;
}

/* 清除浮动 */
.clearfix {
    content: "";
    overflow: hidden;
    clear: both;
    display: block;
}

.navbar{
    display: inline-block;
}

.clearfix>li {
    float: left;
} 

.navbar>li>a {
    display: block;
    font-size: 16px;
    color: #999;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
}

.navbar>li>a.active{
    color: #ef4238;
    position: relative;
    cursor: default;
}

 .navbar>li>a.active:before {
    content: "";
    width: 2px;
    height: 0;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: 53px;
    border-bottom: 7px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: none;
 }

/* 主要内容 */
.container{
    width: 1200px;
    margin: 0 auto;
}

.container-news, .container-video, .container-page {
    margin-top: 40px;
}
/* 最新资讯 */
.new-container {
    float: left;
    width: 730px;
    margin-right: 0;
}

.headerlist{
    font-size: 26px;
    line-height: 1;
    margin-bottom: 20px;
}

.headerlist a {
    font-size: 14px;
    color: inherit;
    float: right;
    margin-top: 10px;

}

.container-list {
    margin-right: -20px;
}

.news-box {
    display: block;
    float: left;
    width: 230px;
    height: 195px;
    margin: 0 20px 20px 0;
}

.news-box img {
    width: 230px;
    height: 129px;
}

.container img {
    vertical-align: bottom;
}

.news-title{
    margin: 12px 0 8px;
    height: 32px;
    font-size: 14px;
    font-weight: 400;
}

.news-title:hover {
    color: #ef4238;
}

.news-info {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    color: #999;
    position: relative;
}

.cateye-ico {
    float: right;
    color: #aaa;
    padding-left: 23px;
    background: url('./imgs/cateye-eye-zj.png') 0 no-repeat;
    background-size: 18px 14px;
}
/* 热门资讯 */
.popular-container {
    float: right;
    width: 360px;
    font-size: 14px;
}

.normal-list {
    padding: 10px 0;
}

.top-list {
    display: inline-block;
    width: 330px;
    margin: 0 0 0 7px;
}

.top-list a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    color: #333;
}

.top-list a:hover {
    color: #ef4238;
}

.first-top {
    margin-bottom: 10px;
}

.first-info {
    position: relative;
    margin-right: 16px;
    display: inline-block;
}



.top-first img {
    width: 120px;
    height: 86px;
    vertical-align: bottom;
}
.ranking {
    padding-left: 3px;
    width: 15px;
    height: 18px;
    font-size: 16px;
    color: #999;
    display: inline-block;
    line-height: 20px;
    font-style: italic;
}

.first-ico {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ef4238;
}

.first-title {
    width: 224px;
    float: right;
    margin-top: 20px;
}

.two-line {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.arrow {
    display: inline-block;
    width: 8px;
    height: 14px;
    vertical-align: top;
}

.redarrow {
    background: url("./imgs/cateye-redarrow-zj.png") top no-repeat;
}