<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/hostspot-zj.css">
</head>

<body>
    <!-- 导航 -->
    <div class="subnav">
        <ul class="navbar clearfix">
            <li><a href="javascript:;" class="active">热点首页</a></li>
            <li><a href="javascript:;">新闻资讯</a></li>
            <li><a href="javascript:;">预告片</a></li>
            <li><a href="javascript:;">精彩图集</a></li>
        </ul>
    </div>
    <div class="box" style="display:none">

        <!-- 主要内容 -->
        <div class="container clearfix">
            <!-- 资讯 -->
            <div class="container-news ">
                <!-- 热门资讯 -->
                <div class="popular-container">
                    <h4 class="headerlist red">
                        热门资讯

                    </h4>
                    <ul>
                        <!-- 排行第一的资讯 -->
                        <li class="first-top">
                            <div class="list-info">
                                <a href="">
                                    <img src="../public/images/imgs-zj/cateye-aquaman-zj.jpg" alt="">
                                    <i class="ranking top-ico red-bg">1</i>
                                </a>
                            </div>
                            <p class="first-title">
                                <a href="" class="two-line">
                                    这里是模板的内容这里有两行
                                </a>
                            </p>
                        </li>
                        <!-- 前三个排行数字是红的 -->
                        <li>
                            <div class="normal-list">
                                <i class="ranking red">2</i>
                                <p class="top-list-title">
                                    <a href="">这里是模板的内容</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="normal-list">
                                <i class="ranking red">3</i>
                                <p class="top-list-title">
                                    <a href="">这里是模板的内容</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="normal-list">
                                <i class="ranking">4</i>
                                <p class="top-list-title">
                                    <a href="">这里是模板的内容</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="normal-list">
                                <i class="ranking">5</i>
                                <p class="top-list-title">
                                    <a href="">这里是模板的内容</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="normal-list">
                                <i class="ranking">6</i>
                                <p class="top-list-title">
                                    <a href="">这里是模板的内容</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="normal-list">
                                <i class="ranking">7</i>
                                <p class="top-list-title">
                                    <a href="">这里是模板的内容</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="normal-list">
                                <i class="ranking">8</i>
                                <p class="top-list-title">
                                    <a href="">这里是模板的内容</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="normal-list">
                                <i class="ranking">9</i>
                                <p class="top-list-title">
                                    <a href="">这里是模板的内容</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="normal-list">
                                <i class="ranking">10</i>
                                <p class="top-list-title">
                                    <a href="">这里是模板的内容</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 最新资讯 -->
                <div class="new-container">
                    <h4 class="headerlist red">
                        最新资讯
                        <a href="" class="all-list">
                            全部
                            <span class="arrow redarrow"></span>
                        </a>
                    </h4>
                    <!-- 图片 -->
                    <div class="container-list clearfix">
                        <a href="" class="news-box">
                            <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                            <p class="news-title">这里一行包括图片也是模板的内容</p>
                            <div class="news-info">
                                <span>猫眼电影</span>
                                <sapn class="cateye-ico">模板</sapn>
                            </div>
                        </a>
                        <a href="" class="news-box">
                            <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                            <p class="news-title">这里一行包括图片也是模板的内容</p>
                            <div class="news-info">
                                <span>猫眼电影</span>
                                <sapn class="cateye-ico">模板</sapn>
                            </div>
                        </a>
                        <a href="" class="news-box">
                            <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                            <p class="news-title">这里一行包括图片也是模板的内容</p>
                            <div class="news-info">
                                <span>猫眼电影</span>
                                <sapn class="cateye-ico">模板</sapn>
                            </div>
                        </a>
                        <a href="" class="news-box">
                            <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                            <p class="news-title">这里一行包括图片也是模板的内容</p>
                            <div class="news-info">
                                <span>猫眼电影</span>
                                <sapn class="cateye-ico">模板</sapn>
                            </div>
                        </a>
                        <a href="" class="news-box">
                            <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                            <p class="news-title">这里一行包括图片也是模板的内容</p>
                            <div class="news-info">
                                <span>猫眼电影</span>
                                <sapn class="cateye-ico">模板</sapn>
                            </div>
                        </a>
                        <a href="" class="news-box">
                            <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                            <p class="news-title">这里一行包括图片也是模板的内容</p>
                            <div class="news-info">
                                <span>猫眼电影</span>
                                <sapn class="cateye-ico">模板</sapn>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 最新预告 -->
            <div class="container-video">
                <!-- 热门预告片 -->
                <div class="popular-container">
                    <h4 class="headerlist blue">热门预告片</h4>
                    <ul>
                        <li class="top-list">
                            <div class="list-info">
                                <a href="">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                    <i class="ranking top-ico orange-bg">1</i>
                                    <i class="play-ico"></i>
                                </a>
                            </div>
                            <div class="top-video">
                                <p class="oneline">
                                    <a href="">
                                        <!-- 文字 -->
                                        这里五个排行应该也是模板的内容
                                    </a>
                                </p>
                                <!-- 观看人数 -->
                                <div class="video-view">模板</div>
                            </div>
                        </li>
                        <li class="top-list">
                            <div class="list-info">
                                <a href="">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                    <i class="ranking top-ico orange-bg">2</i>
                                    <i class="play-ico"></i>
                                </a>
                            </div>
                            <div class="top-video">
                                <p class="oneline">
                                    <a href="">
                                        这里五个排行应该也是模板的内容
                                    </a>
                                </p>
                                <div class="video-view">模板</div>
                            </div>
                        </li>
                        <li class="top-list">
                            <div class="list-info">
                                <a href="">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                    <i class="ranking top-ico orange-bg">3</i>
                                    <i class="play-ico"></i>
                                </a>
                            </div>
                            <div class="top-video">
                                <p class="oneline">
                                    <a href="">
                                        这里五个排行应该也是模板的内容
                                    </a>
                                </p>
                                <div class="video-view">模板</div>
                            </div>
                        </li>
                        <li class="top-list">
                            <div class="list-info">
                                <a href="">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                    <i class="ranking top-ico orange-bg">4</i>
                                    <i class="play-ico"></i>
                                </a>
                            </div>
                            <div class="top-video">
                                <p class="oneline">
                                    <a href="">
                                        这里五个排行应该也是模板的内容
                                    </a>
                                </p>
                                <div class="video-view">模板</div>
                            </div>
                        </li>
                        <li class="top-list">
                            <div class="list-info">
                                <a href="">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                    <i class="ranking top-ico orange-bg">5</i>
                                    <i class="play-ico"></i>
                                </a>
                            </div>
                            <div class="top-video">
                                <p class="oneline">
                                    <a href="">
                                        这里五个排行应该也是模板的内容
                                    </a>
                                </p>
                                <div class="video-view">模板</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 新预告 -->
                <div class="new-container">
                    <h4 class="headerlist blue">
                        预告片速递
                        <a href="" class="all-list">
                            全部
                            <span class="arrow bluearrow"></span>
                        </a>
                    </h4>
                    <div class="container-list clearfix">
                        <div class="video-list video-big">
                            <a href="">
                                <!-- 预告片图片 -->
                                <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                <div class="video-list-title">
                                    <p class="oneline">
                                        <span>
                                            <!-- 文字 -->
                                            全部模板
                                        </span>
                                    </p>
                                    <p>
                                        <!-- 人数 -->
                                        <span class="video-view">模板</span>
                                    </p>
                                </div>
                                <!-- 播放图标 -->
                                <i class="play-ico"></i>
                            </a>
                        </div>
                        <div class="video-list">
                            <a href="">
                                <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                <div class="video-list-title">
                                    <p class="oneline">
                                        <span>
                                            全部模板
                                        </span>
                                    </p>
                                    <p>
                                        <span class="video-view">模板</span>
                                    </p>
                                </div>
                                <i class="play-ico"></i>
                            </a>
                        </div>
                        <div class="video-list">
                            <a href="">
                                <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                <div class="video-list-title">
                                    <p class="oneline">
                                        <span>
                                            全部模板
                                        </span>
                                    </p>
                                    <p>
                                        <span class="video-view">模板</span>
                                    </p>
                                </div>
                                <i class="play-ico"></i>
                            </a>
                        </div>
                        <div class="video-list">
                            <a href="">
                                <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                <div class="video-list-title">
                                    <p class="oneline">
                                        <span>
                                            全部模板
                                        </span>
                                    </p>
                                    <p>
                                        <span class="video-view">模板</span>
                                    </p>
                                </div>
                                <i class="play-ico"></i>
                            </a>
                        </div>
                        <div class="video-list">
                            <a href="">
                                <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                <div class="video-list-title">
                                    <p class="oneline">
                                        <span>
                                            全部模板
                                        </span>
                                    </p>
                                    <p>
                                        <span class="video-view">模板</span>
                                    </p>
                                </div>
                                <i class="play-ico"></i>
                            </a>
                        </div>
                        <div class="video-list">
                            <a href="">
                                <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                <div class="video-list-title">
                                    <p class="oneline">
                                        <span>
                                            全部模板
                                        </span>
                                    </p>
                                    <p>
                                        <span class="video-view">模板</span>
                                    </p>
                                </div>
                                <i class="play-ico"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 最新图集 -->
            <div class="container-page">
                <div class="new-container ">
                    <h4 class="headerlist yellow">
                        最新图集
                        <a href="" class="all-list">
                            全部
                            <span class="arrow yellowarrow"></span>
                        </a>
                    </h4>
                    <div class="container-list">
                        <div class="page-list">
                            <div class="clearfix">

                                <!-- 大图片 -->
                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="" class="images-big">
                                </a>
                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                </a>
                                <!-- 更多 -->
                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                </a>
                                <a href="" class="page-num">
                                    具体数量
                                </a>
                            </div>
                            <div class="latest">
                                <p class="oneline">
                                    <a href="">
                                        <!-- 文字内容 -->
                                        模板内容
                                    </a>
                                </p>
                                <!-- 观看人数 -->
                                <span class="eye-ico">模板</span>
                            </div>
                        </div>
                    </div>
                    <div class="container-list">
                        <div class="page-list">
                            <div class="clearfix">


                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="" class="images-big">
                                </a>
                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                </a>
                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                </a>
                                <a href="" class="page-num">
                                    具体数量
                                </a>
                            </div>
                            <div class="latest">
                                <p class="oneline">
                                    <a href="">
                                        模板内容
                                    </a>
                                </p>
                                <span class="eye-ico">模板</span>
                            </div>
                        </div>
                    </div>
                    <div class="container-list">
                        <div class="page-list">
                            <div class="clearfix">


                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="" class="images-big">
                                </a>
                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                </a>
                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                </a>
                                <a href="" class="page-num">
                                    具体数量
                                </a>
                            </div>
                            <div class="latest">
                                <p class="oneline">
                                    <a href="">
                                        模板内容
                                    </a>
                                </p>
                                <span class="eye-ico">模板</span>
                            </div>
                        </div>
                    </div>
                    <div class="container-list">
                        <div class="page-list">
                            <div class="clearfix">


                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="" class="images-big">
                                </a>
                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                </a>
                                <a href="" class="list-images">
                                    <img src="../public/images/imgs-zj/pikachu-zj.jpg" alt="">
                                </a>
                                <a href="" class="page-num">
                                    具体数量
                                </a>
                            </div>
                            <div class="latest">
                                <p class="oneline">
                                    <a href="">
                                        模板内容
                                    </a>
                                </p>
                                <span class="eye-ico">模板</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- 这不是tab切换 -->
    <div class="box" style="display:none">
        <div class="container">
            <div class="container-news-box">
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <!-- 新闻导语 -->
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <!-- 阐述导语 -->
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <!-- 日期 -->
                            <span class="news-date">05-14</span>
                            <!-- 观看人数与猫眼标志 -->
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <span class="news-date">05-14</span>
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <span class="news-date">05-14</span>
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <span class="news-date">05-14</span>
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <span class="news-date">05-14</span>
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <span class="news-date">05-14</span>
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <span class="news-date">05-14</span>
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <span class="news-date">05-14</span>
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <span class="news-date">05-14</span>
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
                <div class="list-news clearfix">
                    <a href="" class="news-image">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <div class="news-content">
                        <h4 class="news-header">
                            <a href="">
                                皮卡皮卡吃屁
                            </a>
                        </h4>
                        <div class="news-content-title twoline">
                            大侦探皮卡丘和皮神是不一样的，和皮神
                            皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                        </div>
                        <div class="container-news-info">
                            <span class="cateye-movie">猫眼电影</span>
                            <span class="news-date">05-14</span>
                            <span class="cateye-ico">22</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 分页 -->

        </div>
    </div>

    <!-- 这也不是tab切换 -->
    <div class="box" style="display:none">
        <div class="container">
            <div class="common-container">
                <div class="common-bigbox clearfix">
                    <div class="video-box">
                        <a href="">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                            <i class="play-ico"></i>
                        </a>
                        <!-- 标题 -->
                        <h4 class="video-name oneline">
                            <a href="">皮卡丘快使用十万伏特哦抱歉你不会来的</a>
                        </h4>
                        <!-- 播放数 -->
                        <div class="video-view">999</div>
                    </div>
                    <div class="video-box">
                        <a href="">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                            <i class="play-ico"></i>
                        </a>
                        <!-- 标题 -->
                        <h4 class="video-name oneline">
                            <a href="">皮卡丘快使用十万伏特哦抱歉你不会来的</a>
                        </h4>
                        <!-- 播放数 -->
                        <div class="video-view">999</div>
                    </div>
                    <div class="video-box">
                        <a href="">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                            <i class="play-ico"></i>
                        </a>
                        <!-- 标题 -->
                        <h4 class="video-name oneline">
                            <a href="">皮卡丘快使用十万伏特哦抱歉你不会来的</a>
                        </h4>
                        <!-- 播放数 -->
                        <div class="video-view">999</div>
                    </div>
                    <div class="video-box">
                        <a href="">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                            <i class="play-ico"></i>
                        </a>
                        <!-- 标题 -->
                        <h4 class="video-name oneline">
                            <a href="">皮卡丘快使用十万伏特哦抱歉你不会来的</a>
                        </h4>
                        <!-- 播放数 -->
                        <div class="video-view">999</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 这当然也不是tab切换 -->
    <div class="box">
        <!-- 图集 -->
        <div class="container">
            <div class="common-container">
                <div class="images-box">
                    <!-- 标题 -->
                    <h4 class="images-header">
                        <a href="">哈哈没想到吧又是我皮卡皮卡</a>
                    </h4>
                    <div class="images-content clearfix">
                        <!-- 3张图片 -->
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <!-- 更多图片 -->
                        <a href="" class="page-more images-content-pic">
                            <span>数量</span>
                        </a>
                    </div>
                    <div class="info-container">
                        <span class="tag">
                            <a href="">皮卡丘</a>
                        </span>
                        <span class="cateye-ico">模板</span>
                    </div>
                </div>
                <div class="images-box">
                    <h4 class="images-header">
                        <a href="">哈哈没想到吧又是我皮卡皮卡</a>
                    </h4>
                    <div class="images-content clearfix">
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="page-more images-content-pic">
                            <span>数量</span>
                        </a>
                    </div>
                    <div class="info-container">
                        <span class="tag">
                            <a href="">皮卡丘</a>
                        </span>
                        <span class="cateye-ico">模板</span>
                    </div>
                </div>
                <div class="images-box">
                    <h4 class="images-header">
                        <a href="">哈哈没想到吧又是我皮卡皮卡</a>
                    </h4>
                    <div class="images-content clearfix">
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="page-more images-content-pic">
                            <span>数量</span>
                        </a>
                    </div>
                    <div class="info-container">
                        <span class="tag">
                            <a href="">皮卡丘</a>
                        </span>
                        <span class="cateye-ico">模板</span>
                    </div>
                </div>
                <div class="images-box">
                    <h4 class="images-header">
                        <a href="">哈哈没想到吧又是我皮卡皮卡</a>
                    </h4>
                    <div class="images-content clearfix">
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="images-content-pic">
                            <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        </a>
                        <a href="" class="page-more images-content-pic">
                            <span>数量</span>
                        </a>
                    </div>
                    <div class="info-container">
                        <span class="tag">
                            <a href="">皮卡丘</a>
                        </span>
                        <span class="cateye-ico">模板</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>