<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/hostspot-zj.css">
</head>

<body>
    <!-- 导航 -->
    <div class="subnav">
        <ul class="navbar clearfix">
            <li><a href="javascript:;" class="active">热点首页</a></li>
            <li><a href="javascript:;">新闻资讯</a></li>
            <li><a href="javascript:;">预告片</a></li>
            <li><a href="javascript:;">精彩图集</a></li>
        </ul>
    </div>

    <!-- 主要内容 -->
    <div class="container clearfix">
        <!-- 资讯 -->
        <div class="container-news ">
            <!-- 热门资讯 -->
            <div class="popular-container">
                <h4 class="headerlist red">
                    热门咨询

                </h4>
                <ul>
                    <li class="first-top">
                        <div class="list-info">
                            <a href="">
                                <img src="./imgs/cateye-aquaman-zj.jpg" alt="">
                                <i class="ranking top-ico red-bg">1</i>
                            </a>
                        </div>
                        <p class="first-title">
                            <a href="" class="two-line">
                                aquaman sucks?aquaman is best in dceu,not batman or superman.
                            </a>
                        </p>
                    </li>
                    <li>
                        <div class="normal-list">
                            <i class="ranking red">2</i>
                            <p class="top-list-title">
                                <a href="">枪比剑强</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="normal-list">
                            <i class="ranking red">3</i>
                            <p class="top-list-title">
                                <a href="">枪比剑强</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="normal-list">
                            <i class="ranking">4</i>
                            <p class="top-list-title">
                                <a href="">枪比剑强</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="normal-list">
                            <i class="ranking">5</i>
                            <p class="top-list-title">
                                <a href="">枪比剑强</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="normal-list">
                            <i class="ranking">6</i>
                            <p class="top-list-title">
                                <a href="">枪比剑强</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="normal-list">
                            <i class="ranking">7</i>
                            <p class="top-list-title">
                                <a href="">枪比剑强</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="normal-list">
                            <i class="ranking">8</i>
                            <p class="top-list-title">
                                <a href="">枪比剑强</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="normal-list">
                            <i class="ranking">9</i>
                            <p class="top-list-title">
                                <a href="">枪比剑强</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="normal-list">
                            <i class="ranking">10</i>
                            <p class="top-list-title">
                                <a href="">枪比剑强</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 最新资讯 -->
            <div class="new-container">
                <h4 class="headerlist red">
                    最新资讯
                    <a href="" class="all-list">
                        全部
                        <span class="arrow redarrow"></span>
                    </a>
                </h4>
                <div class="container-list clearfix">
                    <a href="" class="news-box">
                        <img src="" alt="">
                        <p class="news-title">king crimson</p>
                        <div class="news-info">
                            <span>猫眼电影</span>
                            <sapn class="cateye-ico">49</sapn>
                        </div>
                    </a>
                    <a href="" class="news-box">
                        <img src="" alt="">
                        <p class="news-title">king crimson</p>
                        <div class="news-info">
                            <span>猫眼电影</span>
                            <sapn class="cateye-ico">49</sapn>
                        </div>
                    </a>
                    <a href="" class="news-box">
                        <img src="" alt="">
                        <p class="news-title">king crimson</p>
                        <div class="news-info">
                            <span>猫眼电影</span>
                            <sapn class="cateye-ico">49</sapn>
                        </div>
                    </a>
                    <a href="" class="news-box">
                        <img src="" alt="">
                        <p class="news-title">king crimson</p>
                        <div class="news-info">
                            <span>猫眼电影</span>
                            <sapn class="cateye-ico">49</sapn>
                        </div>
                    </a>
                    <a href="" class="news-box">
                        <img src="" alt="">
                        <p class="news-title">king crimson</p>
                        <div class="news-info">
                            <span>猫眼电影</span>
                            <sapn class="cateye-ico">49</sapn>
                        </div>
                    </a>
                    <a href="" class="news-box">
                        <img src="" alt="">
                        <p class="news-title">king crimson</p>
                        <div class="news-info">
                            <span>猫眼电影</span>
                            <sapn class="cateye-ico">49</sapn>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 最新预告 -->
        <div class="container-video">
            <div class="popular-container">
                <h4 class="headerlist"></h4>
                <ul>
                    <li class="top-list">
                        <div class="list-info">
                            <a href="">
                                <img src="./imgs/pikachu.jpg" alt="">
                                <i class="ranking top-ico orange-bg">1</i>
                                <i class="play-ico"></i>
                            </a>
                        </div>
                        <div class="top-video">
                            <p class="oneline"> 
                                <a href="">
                                    皮卡~皮卡~皮卡丘，皮卡皮卡皮卡丘
                                </a>
                            </p>
                            <div class="video-view">999万</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="new-container">
            <h4 class="headerlist"></h4>
        </div>
        <!-- 最新图集 -->
        <div class="container-page"></div>
    </div>
</body>

</html>