<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/index.css">
  <title>猫眼电影 - 一网打尽好电影</title>
</head>

<body>
  <!-- 1.顶部start -->
  <div class="dh">
    <div class="dh_con">
        <%- include('./layouts/heady.ejs')%>
        <div class="nav">
            <ul class="nav-ul">
                <li><a href="">首页</a></li>
                <li><a href="">电影</a></li>
                <li><a href="">影院</a></li>
                <li><a href="">演出</a></li>
                <li><a href="/crunchies">榜单</a></li>
                <li><a href="">热点</a></li>
                <li class="ys"> <a href="/shopping">商城</a></li>
            </ul>
        </div>
        <%- include('./layouts/header.ejs')%>
     
    </div>
</div>
  <!-- 1.顶部end -->

  <!-- 中部模块 -->
  <div class="hit-move">
    <!-- 公共宽度 -->
    <div class="content">
<!-- 右侧 -->
      <div class="aside">
<!-- 今日票房 -->
        <div class="panel">
          <div class="panel-header">
            <div class="panel-title">
              <span class="text-color">今日票房</span>
            </div>
          </div>
          <div class="panel-content">
            <ul class="right-one" >
          
            </ul>
          </div>
        </div>
<!-- 今日大盘 -->
        <div class="box-total-wrapper clearfix">
          <h3>今日大盘</h3>
          <div>
            <p>
              <span class="num">
                <span class="stonefont">1268.28</span>


              </span>
              万
              <a class="more" href="">查看更多
                <span class=" panel-arrow"></span>
              </a>
            </p>
            <p class="meta-info">

              北京时间 15:44:21
              <span class="pull-right">猫眼专业版实时票房数据</span>
            </p>
          </div>
        </div>
<!-- 最受期待 -->
        <div class="most-expect-wrapper">
          <div class="panel">
            <div class="panel-header">
              <span class="panel-more">
                <a href="" class="textcolor_orange">
                  <span>查看完整榜单</span>
                </a>
                <span class="panel-arrowo"></span>
              </span>
              <span class="panel-title">
                <span class="textcolor_orange">最受期待</span>
              </span>
            </div>
            <div class="panel-content">
              <ul class="ranking-wrapper ranking-mostExpect">
                <li class="ranking-item ranking-top ranking-index-1">
                  <a href="">
                    <div class="ranking-top-left">
                      <i class="ranking-top-icon"></i>
                      <img class="ranking-img  default-img" src="../public/images/g" alt="">
                    </div>
                    <div class="ranking-top-right">
                      <div class="ranking-top-right-main">
                        <span class="ranking-top-moive-name">哥斯拉2：怪兽之王</span>
                        <p class="ranking-release-time">上映时间：2019-05-31</p>
                        <p class="ranking-top-wish">
                          <span class="stonefont">199166</span>人想看
                        </p>
                      </div>
                    </div>
                  </a>
                </li>



                <li class="ranking-item ranking-top ranking-index-2 ">
                  <a href="">
                    <i class="ranking-indexa">2</i>
                    <span class="img-link">
                      <img class="ranking-img default-img" src="" alt="">
                    </span>
                    <div class="name-link ranking-movie-name">唐人街探案3</div>
                    <span class="ranking-num-info">
                      <span class="stonefont">69332</span>人想看
                    </span>
                  </a>
                </li>

                <li class="ranking-item ranking-top ranking-index-3 ">
                    <a href="">
                      <i class="ranking-indexa">3</i>
                      <span class="img-link">
                        <img class="ranking-img default-img" src="" alt="">
                      </span>
                      <div class="name-link ranking-movie-name">扫毒2天的对决</div>
                      <span class="ranking-num-info">
                        <span class="stonefont">93018</span>人想看
                      </span>
                    </a>
                  </li>

                <li class="ranking-item   ranking-index-4">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index  textcolor_graa">4</i>
                      <span class="ranking-movie-name">黑衣人：全球追缉</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">67773</span>人想看
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index  textcolor_graa">5</i>
                      <span class="ranking-movie-name">少年的你</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">148186</span>人想看
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index textcolor_graa"> 6</i> <span class="ranking-movie-name">追龙</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">42476</span>人想看
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index  textcolor_graa">7</i>
                      <span class="ranking-movie-name">使徒行者2：碟影行动</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">39287</span>人想看
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index  textcolor_graa">8</i>
                      <span class="ranking-movie-name">龙珠超：布罗利</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">42946</span>人想看
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index textcolor_graa">9</i>
                      <span class="ranking-movie-name">五月天人生无限公司</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">37784</span>人想看
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index textcolor_graa">10</i>
                      <span class="ranking-movie-name">阿拉丁</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">27505</span>人想看
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

<!-- TOOP 100 -->
        <div class="top100-wrapper">
            <div class="panel-header">
                <span class="panel-more">
                    <a href="" class="textcolor_orange">
                      <span>查看完整榜单</span>
                    </a>
                    <span class="panel-arrowo"></span>
                  </span>
              <div class="panel-title">
                <span class="text-color">TOP &nbsp 100</span>
              </div>
            </div>
            <div class="panel-content">
              <ul>
                <li class="ranking-item ranking-top ranking-index-1">
                  <a href="">
                    <div class="ranking-top-left">
                      <i class="ranking-top-icon"></i>
                      <img src="./images/pkd.png" alt="">
                    </div>
                    <div class="ranking-top-right">
                      <div class="ranking-top-right-main">
                        <span class="ranking-top-moive-name">霸王别姬</span>
                        <p class="ranking-top-wish">
                          <span class="stonefont">9.5</span>分
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index">2</i>
                      <span class="ranking-movie-name">肖申克的救赎</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">9.5</span>分
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index">3</i>
                      <span class="ranking-movie-name">罗马假日</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">9.1</span>分
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index  textcolor_graa">4</i>
                      <span class="ranking-movie-name">这个杀手不太冷</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">9.5</span>分
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index  textcolor_graa">5</i>
                      <span class="ranking-movie-name">泰坦尼克号</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">9.5</span>分
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index textcolor_graa"> 6</i> <span class="ranking-movie-name">唐伯虎点秋香</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">9.1</span>分
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index  textcolor_graa">7</i>
                      <span class="ranking-movie-name">魂断蓝桥</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">9.2</span>分
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index  textcolor_graa">8</i>
                      <span class="ranking-movie-name">乱世佳人</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">9.1</span>分
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index textcolor_graa">9</i>
                      <span class="ranking-movie-name">天空之城</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">9.1</span>分
                      </span>
                    </span>
                  </a>
                </li>
                <li class="ranking-item">
                  <a href="">
                    <span class="normal-link">
                      <i class="ranking-index textcolor_graa">10</i>
                      <span class="ranking-movie-name">辛德勒的名单</span>
                      <span class="ranking-num-info">
                        <span class="stonefont">9.2</span>分
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>

<!-- 左侧 -->
      <div class="main">
        <div class="move-grid">
          <div class="panel">
            <div class="main-header">
              <span class="main-top-title   text-color">正在热映 (20步)</span>
              <span class="main-top-more">
                <a href="" class="text-color">
                  <span>全部</span>
                </a>
                <span class="main-top-more-logo"></span>
              </span>
            </div>
            <div class="main-content">
              <dl class="move-list">
                <!-- <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/pikachu.jpg" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">8.</i>
                              <i class="fraction">6</i>
                            </div>
                            <div class="move-title">大侦探皮卡丘</div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="move-sale">
                      <a href="" class="active">购 票</a>
                    </div>
                    <div class="movie-ver">
                      <i class="imax3d"></i>
                    </div>
                  </div>
                </dd>

                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/fulian.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">9.</i>
                              <i class="fraction">1</i>
                            </div>
                            <div class="move-title">复仇者联盟4：终局之战</div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="move-sale">
                      <a href="" class="active">购 票</a>
                    </div>
                    <div class="movie-ver">
                      <i class="imax3d"></i>
                    </div>
                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/何家.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">9.</i>
                              <i class="fraction">4</i>
                            </div>
                            <div class="move-title">何以为家</div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="move-sale">
                      <a href="" class="active">购 票</a>
                    </div>
                    <div class="movie-ver">
                      <i class="imax3d"></i>
                    </div>
                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/母亲.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">9.</i>
                              <i class="fraction">3</i>
                            </div>
                            <div class="move-title">一个母亲的复仇</div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="move-sale">
                      <a href="" class="active">购 票</a>
                    </div>
                    <div class="movie-ver">
                      <i class="imax3d"></i>
                    </div>
                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/小狗.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer"></i>
                              <i class="fraction"></i>
                            </div>
                            <div class="move-title">一条狗得使命2</div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="move-sale">
                      <a href="" class="active">购 票</a>
                    </div>
                    <div class="movie-ver">
                      <i class="imax3d"></i>
                    </div>
                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/gelasi.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer"></i>
                              <i class="fraction"></i>
                            </div>
                            <div class="move-title">哥斯拉2:怪兽之王</div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="move-sale">
                      <a href="" class="active">购 票</a>
                    </div>
                    <div class="movie-ver">
                      <i class="imax3d"></i>
                    </div>
                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/双sheng.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer"></i>
                              <i class="fraction"></i>
                            </div>
                            <div class="move-title">双生</div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="move-sale">
                      <a href="" class="active">购 票</a>
                    </div>
                    <div class="movie-ver">
                      <i class="imax3d"></i>
                    </div>
                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/qianren.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">4.</i>
                              <i class="fraction">3</i>
                            </div>
                            <div class="move-title">下一任：前任</div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <div class="move-sale">
                      <a href="" class="active">购 票</a>
                    </div>
                    <div class="movie-ver">
                      <i class="imax3d"></i>
                    </div>
                  </div>
                </dd>
             -->
            </dl>
            </div>
          </div>
          <div class="panel">
            <div class="main-header">
              <span class="main-top-title   textcolor_bule">即将上映 (150步)</span>
              <span class="main-top-more">
                <a href="" class=" textcolor_bule">
                  <span>全部</span>
                </a>
                <span class="main-top-more-blue"></span>
              </span>
            </div>
            <div class="main-content">
              <dl class="move-list room">
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/zhouenlai.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-title">周恩来回延安</div>
                          </div>

                        </div>
                      </div>
                    </a>
                    <div class="want-see">
                      <span class="stonefont">3660</span>
                      人想看
                    </div>
                    <div class="movie-presale">
                      <a href="" class="movie-presale-sep">预告片</a>
                      <a href="" class="active">预售</a>
                    </div>
                    <div class="movie-rt">5月15日上映</div>
                  </div>
                </dd>

                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/grandfather.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-title">海蒂和爷爷</div>
                          </div>

                        </div>
                      </div>
                    </a>
                    <div class="want-see">
                      <span class="stonefont">13910</span>
                      人想看
                    </div>
                    <div class="movie-presale">
                      <a href="" class="movie-presale-sep">预告片</a>
                      <a href="" class="active">预售</a>
                    </div>
                    <div class="movie-rt">5月16日上映</div>
                  </div>
                </dd>


                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/小狗.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-title">一条狗得使命</div>
                          </div>

                        </div>
                      </div>
                    </a>
                    <div class="want-see">
                      <span class="stonefont">23236</span>
                      人想看
                    </div>
                    <div class="movie-presale">
                      <a href="" class="movie-presale-sep">预告片</a>
                      <a href="" class="active">预售</a>
                    </div>
                    <div class="movie-rt">5月17日上映</div>
                  </div>
                </dd>



                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/企鹅.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-title">企鹅公路</div>
                          </div>

                        </div>
                      </div>
                    </a>
                    <div class="want-see">
                      <span class="stonefont">9065</span>
                      人想看
                    </div>
                    <div class="movie-presale">
                      <a href="" class="movie-presale-sep">预告片</a>
                      <a href="" class="active">预售</a>
                    </div>
                    <div class="movie-rt">5月17日上映</div>
                  </div>
                </dd>


                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/zmem.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-title">致命恶魔</div>
                          </div>

                        </div>
                      </div>
                    </a>
                    <div class="want-see">
                      <span class="stonefont">6305</span>
                      人想看
                    </div>
                    <div class="movie-presale">
                      <a href="" class="movie-presale-sep">预告片</a>
                      <a href="" class="active">预售</a>
                    </div>
                    <div class="movie-rt">5月17日上映</div>
                  </div>
                </dd>

                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/qmy.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-title">搞怪奇妙夜</div>
                          </div>

                        </div>
                      </div>
                    </a>
                    <div class="want-see">
                      <span class="stonefont">4981</span>
                      人想看
                    </div>
                    <div class="movie-presale">
                      <a href="" class="movie-presale-sep">预告片</a>
                      <a href="" class="active">预售</a>
                    </div>
                    <div class="movie-rt">5月17日上映</div>
                  </div>
                </dd>


                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/yinyuejia.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-title">音乐家</div>
                          </div>

                        </div>
                      </div>
                    </a>
                    <div class="want-see">
                      <span class="stonefont">3951</span>
                      人想看
                    </div>
                    <div class="movie-presale">
                      <a href="" class="movie-presale-sep">预告片</a>
                      <a href="" class="active">预售</a>
                    </div>
                    <div class="movie-rt">5月1日上映</div>
                  </div>
                </dd>

                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/最后的勇士.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-title">最后的勇士</div>
                          </div>

                        </div>
                      </div>
                    </a>
                    <div class="want-see">
                      <span class="stonefont">1769</span>
                      人想看
                    </div>
                    <div class="movie-presale">
                      <a href="" class="movie-presale-sep">预告片</a>
                      <a href="" class="active">预售</a>
                    </div>
                    <div class="movie-rt">5月17日上映</div>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
          <div class="panel">
            <div class="main-header">
              <span class="main-top-title   text-color">热播电影</span>
              <span class="panel-subtitle"><a href="">爱情</a></span>
              <span class="panel-subtitle"><a href="">喜剧</a></span>
              <span class="panel-subtitle"><a href="">动作</a></span>
              <span class="panel-subtitle"><a href="">恐怖</a></span>
              <span class="panel-subtitle"><a href="">动画</a></span>
              <span class="main-top-more">
                <a href="" class="text-color">
                  <span>全部</span>
                </a>
                <span class="main-top-more-logo"></span>
              </span>
            </div>
            <div class="main-content">
              <dl class="move-list">
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster  movie-poster-long">
                        <img src="./images/厉鬼将.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">7.</i>
                              <i class="fraction">2</i>
                            </div>
                            <div class="move-title">厉鬼将映</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </dd>


                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/zhanlang.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">9.</i>
                              <i class="fraction">3</i>
                            </div>
                            <div class="move-title">战狼</div>
                          </div>
                        </div>
                      </div>
                    </a>


                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/前任攻略.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">9.</i>
                              <i class="fraction">0</i>
                            </div>
                            <div class="move-title">前任攻略</div>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/五月天.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">9.</i>
                              <i class="fraction">4</i>
                            </div>
                            <div class="move-title">5月天诺亚方舟</div>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/唐人街探案.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">9.</i>
                              <i class="fraction">0</i>
                            </div>
                            <div class="move-title">唐人街探案</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/夏洛.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">9.</i>
                              <i class="fraction">3</i>
                            </div>
                            <div class="move-title">夏洛特烦恼</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </dd>
                <dd>
                  <div class="move-item">
                    <a href="">
                      <div class="move-poster">
                        <img src="./images/大胜归来.png" alt="pikachu">
                        <div class="move-overlay">
                          <div class="move-info">
                            <div class="move-score">
                              <i class="integer">9.</i>
                              <i class="fraction">3</i>
                            </div>
                            <div class="move-title">西游记之大胜归来</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- 4.底部start -->
  <div class="db">
    <div class="footer" style="visibility: visible;">
      <p class="friendly-links">
        关于猫眼 :
        <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        友情链接 :
        <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
        <span></span>
        <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
        <span></span>
        <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
        <span></span>
        <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
      </p>
      <p class="friendly-links">
        商务合作邮箱：v@maoyan.com
        客服电话：10105335
        违法和不良信息举报电话：4006018900
        <br>
        投诉举报邮箱：tousujubao@meituan.com
        舞弊线索举报邮箱：wubijubao@maoyan.com
      </p>
      <p>
        ©2016
        猫眼电影 maoyan.com
        <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&amp;keyword=京ICP证160733号&amp;pageNo=1"
          target="_blank">京ICP证160733号</a>
        <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备
          11010102003232号</a>
        <a href="/about/licence" target="_blank">网络文化经营许可证</a>
        <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
      </p>
      <p>北京猫眼文化传媒有限公司</p>
    </div>
  </div>
  <!-- 4.底部end-->
  <script src="./lib/jquery/dist/jquery.js"></script>
  <script src="./lib/art-template/lib/template-web.js"></script>
  
  <%- include("./template/indexTemplate.ejs")%>
 
  <script src="./js/index.js"></script>
</body>

</html>