<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./hostspot-ZJ.css">
</head>

<body>

    <div class="subnav">
        <ul class="navbar clearfix">
            <li><a href="./hotspot-ZJ.html" class="active">热点首页</a></li>
            <li><a href="./news-ZJ.html">新闻资讯</a></li>
            <li><a href="javascript:;">预告片</a></li>
            <li><a href="./picbox-ZJ.html">精彩图集</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="common-container">
            <div class="common-bigbox clearfix">
                <div class="video-box">
                    <a href="">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        <i class="play-ico"></i>
                    </a>
                    <!-- 标题 -->
                    <h4 class="video-name oneline">
                        <a href="">皮卡丘快使用十万伏特哦抱歉你不会来的</a>
                    </h4>
                    <!-- 播放数 -->
                    <div class="video-view">999</div>
                </div>
                <div class="video-box">
                    <a href="">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        <i class="play-ico"></i>
                    </a>
                    <!-- 标题 -->
                    <h4 class="video-name oneline">
                        <a href="">皮卡丘快使用十万伏特哦抱歉你不会来的</a>
                    </h4>
                    <!-- 播放数 -->
                    <div class="video-view">999</div>
                </div>
                <div class="video-box">
                    <a href="">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        <i class="play-ico"></i>
                    </a>
                    <!-- 标题 -->
                    <h4 class="video-name oneline">
                        <a href="">皮卡丘快使用十万伏特哦抱歉你不会来的</a>
                    </h4>
                    <!-- 播放数 -->
                    <div class="video-view">999</div>
                </div>
                <div class="video-box">
                    <a href="">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                        <i class="play-ico"></i>
                    </a>
                    <!-- 标题 -->
                    <h4 class="video-name oneline">
                        <a href="">皮卡丘快使用十万伏特哦抱歉你不会来的</a>
                    </h4>
                    <!-- 播放数 -->
                    <div class="video-view">999</div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>