<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="./hostspot-ZJ.css">
    <link rel="shortcut icon" href="./images/bitbug_favicon.ico" type="image/x-icon">

</head>

<body>

    <div class="subnav">
        <ul class="navbar clearfix">
            <li><a href="./hotspot-ZJ.html" class="active">热点首页</a></li>
            <li><a href="javascript:;">新闻资讯</a></li>
            <li><a href="./movietrailer-ZJ.html">预告片</a></li>
            <li><a href="./picbox-ZJ.html">精彩图集</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="container-news-box">
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <!-- 新闻导语 -->
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <!-- 阐述导语 -->
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <!-- 日期 -->
                        <span class="news-date">05-14</span>
                        <!-- 观看人数与猫眼标志 -->
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <span class="news-date">05-14</span>
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <span class="news-date">05-14</span>
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <span class="news-date">05-14</span>
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <span class="news-date">05-14</span>
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <span class="news-date">05-14</span>
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <span class="news-date">05-14</span>
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <span class="news-date">05-14</span>
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <span class="news-date">05-14</span>
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
            <div class="list-news clearfix">
                <a href="" class="news-image">
                    <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                </a>
                <div class="news-content">
                    <h4 class="news-header">
                        <a href="">
                            皮卡皮卡吃屁
                        </a>
                    </h4>
                    <div class="news-content-title twoline">
                        大侦探皮卡丘和皮神是不一样的，和皮神
                        皮卡丘可不是只有好看而已，还会放电，不就是个破720吗？看我用十万伏特把他推回去，木大木大木大木大木大木大木大木大木大木大木大木大木大木大木大wryyyyyyy~ea
                    </div>
                    <div class="container-news-info">
                        <span class="cateye-movie">猫眼电影</span>
                        <span class="news-date">05-14</span>
                        <span class="cateye-ico">22</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 分页 -->

    </div>
</body>

</html>