<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付-猫眼电影-一网打尽好电影</title>
    <link rel="stylesheet" href="../public/css/payment.css">
</head>

<body>
    <!-- 1.顶部导航start -->
    <%- include('./layouts/heade.ejs')%>
    <!-- 1.顶部导航end -->

    <!-- 2.购票流程图start -->
    <div class="yz_flow">
        <div class="yz_content">
            <!-- 购票流程 -->
            <div class="order-progress-bar">
                <div class="step done first">
                    <span class="step-num">1</span>
                    <div class="bar"></div>
                    <span class="step-text">选座电影场次</span>
                </div>
                <div class="step done">
                    <span class="step-num">2</span>
                    <div class="bar"></div>
                    <span class="step-text">选择座位</span>
                </div>
                <div class="step done">
                    <span class="step-num">3</span>
                    <div class="bar yz_flow_box"></div>
                    <span class="step-text yz_flow_text">14分钟内付款</span>
                </div>
                <div class="step last">
                    <span class="step-num">4</span>
                    <div class="bar"></div>
                    <span class="step-text">影院取票观票</span>
                </div>
            </div>
            <!-- 支付倒计时 -->
            <div class="yz_paytime">
                <div class="yz_count_down">
                    <p class="yz_time">
                        请在<span class="yz_minute"></span>分钟<span class="yz_second"></span>秒内完成支付
                    </p>
                    <p class="yz_tip">超时订单会自动取消，如遇支付问题，请致电猫眼客服：1010-5335</p>
                </div>
            </div>


            <!-- 核对场次提示 -->
            <div class="yz_warning">
                <p>请仔细核对场次信息，出票后将<span class="yz_attention">无法退票和改签</span></p>
            </div>
            <!-- 购票详情 -->
            <table class="yz_order_table">
                <thead>
                    <tr>
                        <th>影片</th>
                        <th>时间</th>
                        <th>影院</th>
                        <th>座位</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="yz_movie_name">《大侦探皮卡丘》</td>
                        <td class="yz_showtime">今天 5月16日 13:00</td>
                        <td class="yz_cinema_name">大地影院(万顺店)</td>
                        <td>
                            <span class="yz_hall">2号厅(激光)</span>
                            <div class="yz_seats">
                                <span>
                                    <i>6</i>排
                                    <i>7</i>座
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- 实际支付金额 -->
            <div class="yz_price_wrapper">
                <!-- 实际支付 -->
                <div class="yz_price_money">
                    <span>实际支付：</span>
                    <span>￥<strong class="yz_price">28.9</strong></span>
                </div>
                <!-- 确认支付 -->
                <div class="yz_price_verify">
                    <div class="yz_pay_btn">确认支付</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2.购票流程图end -->

    <!-- 3.倒计时结束弹出提示框start -->
    <div class="yz_page">
        <div class="yz_lose">
            <div class="yz_lose_icon_bx">
                <div class="yz_lose_icon"></div>
            </div>
            <div class="yz_lose_text">支付超时，该订单已经失效，请重新购买</div>
            <div class="yz_lose_btn">
                <input type="button" value="我知道了">
            </div>
        </div>
    </div>
    <!-- 3.倒计时结束弹出提示框end -->

    <!-- 4.底部start -->
    <div class="db">
        <div class="footer" style="visibility: visible;">
            <p class="friendly-links">
                关于猫眼 :
                <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
                <span></span>
                <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
                <span></span>
                <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                友情链接 :
                <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
                <span></span>
                <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
                <span></span>
                <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
                <span></span>
                <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
            </p>
            <p class="friendly-links">
                商务合作邮箱：v@maoyan.com
                客服电话：10105335
                违法和不良信息举报电话：4006018900
                <br>
                投诉举报邮箱：tousujubao@meituan.com
                舞弊线索举报邮箱：wubijubao@maoyan.com
            </p>
            <p>
                ©2016
                猫眼电影 maoyan.com
                <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&amp;keyword=京ICP证160733号&amp;pageNo=1"
                    target="_blank">京ICP证160733号</a>
                <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232"
                    target="_blank">京公网安备 11010102003232号</a>
                <a href="/about/licence" target="_blank">网络文化经营许可证</a>
                <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
            </p>
            <p>北京猫眼文化传媒有限公司</p>
        </div>
    </div>
    <!-- 4.底部end -->


    <script src="../public/js/payment.js"></script>
</body>

</html>