<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./hostspot-ZJ.css">
</head>

<body>
    <div class="subnav">
        <ul class="navbar clearfix">
            <li><a href="./hotspot-ZJ.html" class="active">热点首页</a></li>
            <li><a href="./news-ZJ.html">新闻资讯</a></li>
            <li><a href="./movietrailer-ZJ.html">预告片</a></li>
            <li><a href="javascript:;">精彩图集</a></li>
        </ul>
    </div>

    <!-- 这当然也不是tab切换 -->
    <!-- 图集 -->
    <div class="container">
        <div class="common-container">
            <div class="images-box">
                <!-- 标题 -->
                <h4 class="images-header">
                    <a href="">哈哈没想到吧又是我皮卡皮卡</a>
                </h4>
                <div class="images-content clearfix">
                    <!-- 3张图片 -->
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <!-- 更多图片 -->
                    <a href="" class="page-more images-content-pic">
                        <span>数量</span>
                    </a>
                </div>
                <div class="info-container">
                    <span class="tag">
                        <a href="">皮卡丘</a>
                    </span>
                    <span class="cateye-ico">模板</span>
                </div>
            </div>
            <div class="images-box">
                <h4 class="images-header">
                    <a href="">哈哈没想到吧又是我皮卡皮卡</a>
                </h4>
                <div class="images-content clearfix">
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="page-more images-content-pic">
                        <span>数量</span>
                    </a>
                </div>
                <div class="info-container">
                    <span class="tag">
                        <a href="">皮卡丘</a>
                    </span>
                    <span class="cateye-ico">模板</span>
                </div>
            </div>
            <div class="images-box">
                <h4 class="images-header">
                    <a href="">哈哈没想到吧又是我皮卡皮卡</a>
                </h4>
                <div class="images-content clearfix">
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="page-more images-content-pic">
                        <span>数量</span>
                    </a>
                </div>
                <div class="info-container">
                    <span class="tag">
                        <a href="">皮卡丘</a>
                    </span>
                    <span class="cateye-ico">模板</span>
                </div>
            </div>
            <div class="images-box">
                <h4 class="images-header">
                    <a href="">哈哈没想到吧又是我皮卡皮卡</a>
                </h4>
                <div class="images-content clearfix">
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="images-content-pic">
                        <img src="../public/images/imgs-ZJ/pikachu-zj.jpg" alt="">
                    </a>
                    <a href="" class="page-more images-content-pic">
                        <span>数量</span>
                    </a>
                </div>
                <div class="info-container">
                    <span class="tag">
                        <a href="">皮卡丘</a>
                    </span>
                    <span class="cateye-ico">模板</span>
                </div>
            </div>
        </div>
    </div>

    
</body>

</html>