<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猫眼电影PC端</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/shopping-mall.css">
    <link rel="stylesheet" href="./css/All-use-css/heade.css">
</head>

<body>
    <div class="header">
        <!-- 导航 -->
        <%- include('./layouts/heade.ejs')%>
        <!-- 导航结束 -->




        <!-- 内容 -->
        <div class="container clearfix">
            <!-- 商家注入 -->
            <section class="merchant">
                <div class="merchant-btn"><a href="/edimall/merchant" target="_blank">商家入驻 </a></div>
            </section>
            <!-- 商品 -->
            <section class="product">
                <div class="prodect-item"><a href="/avengers" target="_blank">
                        <div class="product-img"><img
                                src="./images/shopping-mall/fclmsb.jpg"
                                title="复仇者联盟 7寸底座钢铁侠手办"></div>
                        <div class="product-info">
                            <p>复仇者联盟 7寸底座钢铁侠手办</p>
                            <p><strong>￥108</strong><span>￥108</span></p>
                        </div>
                    </a></div>
                <div class="prodect-item"><a href="/gin" target="_blank">
                        <div class="product-img"><img
                                src="./images/shopping-mall/yh.jpg"
                                title="银魂系列B0石英表"></div>
                        <div class="product-info">
                            <p>银魂系列B0石英表</p>
                            <p><strong>￥169</strong><span>￥376</span></p>
                        </div>
                    </a></div>
                <div class="prodect-item"><a href="/nightwalk" target="_blank">
                        <div class="product-img"><img
                                src="./images/shopping-mall/Avengers/byx.jpg"
                                title="白夜行 东野圭吾(2017版)"></div>
                        <div class="product-info">
                            <p>白夜行 东野圭吾(2017版)</p>
                            <p><strong>￥47.5</strong><span>￥59.6</span></p>
                        </div>
                    </a></div>
                <div class="prodect-item"><a href="/Unicorn" target="_blank">
                        <div class="product-img"><img
                                src="./images/shopping-mall/Avengers/djs.jpg"
                                title="独角兽迷你移动电源"></div>
                        <div class="product-info">
                            <p> 独角兽迷你移动电源</p>
                            <p><strong>￥169</strong><span>￥169</span></p>
                        </div>
                    </a></div>
                <div class="prodect-item"><a href="/aromatherapy" target="_blank">
                        <div class="product-img"><img
                            src="./images/shopping-mall/Avengers/xxj.jpg"
                                title="8thdays 便携式香薰机"></div>
                        <div class="product-info">
                            <p>8thdays 便携式香薰机</p>
                            <p><strong>￥89</strong><span>￥89</span></p>
                        </div>
                    </a></div>
                <div class="prodect-item"><a href="/edimall/productdetail/100215264" target="_blank">
                        <div class="product-img"><img
                                src="./images/shopping-mall/llbwb.jpg"
                                title="Idolish7玲珑保温杯"></div>
                        <div class="product-info">
                            <p>Idolish7玲珑保温杯</p>
                            <p><strong>￥88</strong><span>￥178</span></p>
                        </div>
                    </a></div>
                <div class="prodect-item"><a href="/edimall/productdetail/100215256" target="_blank">
                        <div class="product-img">
                            <img src="./images/shopping-mall/sl.jpg" title="Idolish7系列手链">
                        </div>
                        <div class="product-info">
                            <p>Idolish7系列手链</p>
                            <p><strong>￥198</strong><span>￥278</span></p>
                        </div>
                    </a></div>
                <div class="prodect-item"><a href="/edimall/productdetail/100215209" target="_blank">
                        <div class="product-img"><img
                                src="./images/shopping-mall/pt.jpg"
                                title="迪士尼潮品镭射拼图组合装"></div>
                        <div class="product-info">
                            <p>迪士尼潮品镭射拼图组合装</p>
                            <p><strong>￥108</strong><span>￥108</span></p>
                        </div>
                    </a></div>
                <div class="prodect-item"><a href="/edimall/productdetail/100215204" target="_blank">
                        <div class="product-img"><img
                                src="./images/shopping-mall/sqlylxj.jpg"
                                title="神奇乐园历险记"></div>
                        <div class="product-info">
                            <p>神奇乐园历险记</p>
                            <p><strong>￥45</strong><span>￥49</span></p>
                        </div>
                    </a></div>
            </section>
        </div>
        <!-- 内容结束 -->




        <!-- 底部 -->
        <%- include('./layouts/bottom.ejs')%>
        <!-- 底部结束 -->
    </div>


</body>

</html>