<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购票成功-猫眼电影-一网打尽好电影</title>
    <link rel="stylesheet" href="./css/succeed.css">
    <link rel="shortcut icon" href="./images/bitbug_favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- 1.顶部start -->
    <%- include('./layouts/crunchies_heade.ejs')%>
    <!-- 1.顶部end -->

    <!-- 2.中间部分strat -->
    <div class="yz_purchase">
        <div class="yz_content">
            <div class="yz_icon"><img src="./images/你妈的逼.png" alt=""></div>
        </div>

        <div class="yz_icon_2">购票成功</div>
    </div>
    <!-- 2.中间部分end -->

    <!-- 3.底部start -->
    <div class="db">
        <div class="footer" style="visibility: visible;">
            <p class="friendly-links">
                关于猫眼 :
                <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
                <span></span>
                <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
                <span></span>
                <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                友情链接 :
                <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
                <span></span>
                <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
                <span></span>
                <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
                <span></span>
                <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
            </p>
            <p class="friendly-links">
                商务合作邮箱：v@maoyan.com
                客服电话：10105335
                违法和不良信息举报电话：4006018900
                <br>
                投诉举报邮箱：tousujubao@meituan.com
                舞弊线索举报邮箱：wubijubao@maoyan.com
            </p>
            <p>
                ©2016
                猫眼电影 maoyan.com
                <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&amp;keyword=京ICP证160733号&amp;pageNo=1"
                    target="_blank">京ICP证160733号</a>
                <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232"
                    target="_blank">京公网安备 11010102003232号</a>
                <a href="/about/licence" target="_blank">网络文化经营许可证</a>
                <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
            </p>
            <p>北京猫眼文化传媒有限公司</p>
        </div>
    </div>
    <!-- 3.底部end -->


    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/crunchies.js"></script>
</body>

</html>