<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/hostspot-ZJ.css">
    <link rel="stylesheet" href="../public/css/movieselection-ZJ.css">
</head>

<body>
     <div class="container">
         <!-- 流程 -->
         <div class="order-progress-bar">
            <div class="step done first">
                <span class="step-num">1</span>
                <div class="bar"></div>
                <span class="step-text">选座电影场次</span>
            </div>
            <div class="step done">
                <span class="step-num">2</span>
                <div class="bar"></div>
                <span class="step-text">选择座位</span>
            </div>
            <div class="step">
                <span class="step-num">3</span>
                <div class="bar"></div>
                <span class="step-text">14分钟内购款</span>
            </div>
            <div class="step last">
                <span class="step-num">4</span>
                <div class="bar"></div>
                <span class="step-text">影院取票观票</span>
            </div>
         </div>
     </div>

     <!-- 选票部分 -->
     <div class="select-ticket clearfix">
        
     </div>
</body>

</html>

