<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选座座位</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/hostspot-ZJ.css">
    <link rel="stylesheet" href="./css/All-use-css/heade.css">
    <link rel="stylesheet" href="./css/All-use-css/bottom.css">
    <link rel="stylesheet" href="./css/jq22.css">
    <link rel="stylesheet" href="./css/movieselection-ZJ.css">
    <link rel="shortcut icon" href="./images/bitbug_favicon.ico" type="image/x-icon">

    <!-- <style>
        .btn:hover {
            border-radius: 3px;
            background-color: #ff8400;
            color: #fff;
            display: inline-block;
            height: 28px;
            line-height: 28px;
            text-align: center;
            width: 72px;
            transition: background-color 0.2s linear 0s;
            border: none;
            cursor: pointer;
        }
    </style> -->

</head>

<body>
    <div class="dh">
        <div class="dh_con">
            <%- include('./layouts/heady.ejs')%>
            <div class="nav">
                <ul class="nav-ul">
                    <li><a href="/">首页</a></li>
                    <li><a href="/filmClassics">电影</a></li>
                    <li><a href="/filmroom">影院</a></li>
                    <li><a href="">演出</a></li>
                    <li><a href="/Bohemian_Rhapsody">榜单</a></li>
                    <li><a href="">热点</a></li>
                    <li class="ys"> <a style="color:white" href="/shopping">商城</a></li>
                </ul>
            </div>
            <%- include('./layouts/header.ejs')%>

        </div>
    </div>

    <div class="container">
        <div class="order-progress-bar">
            <div class="step done first">
                <span class="step-num">1</span>
                <div class="bar"></div>
                <span class="step-text">选座电影场次</span>
            </div>
            <div class="step done">
                <span class="step-num">2</span>
                <div class="bar"></div>
                <span class="step-text">选择座位</span>
            </div>
            <div class="step">
                <span class="step-num">3</span>
                <div class="bar"></div>
                <span class="step-text">14分钟内购款</span>
            </div>
            <div class="step last">
                <span class="step-num">4</span>
                <div class="bar"></div>
                <span class="step-text">影院取票观票</span>
            </div>
        </div>

        <div class="demo clearfix">

            <div id="seat_area">

                <div class="front">屏幕</div>

            </div>
            <div class="booking_area">
                <div class="t">
                    <%-include('./template/ticket-film.ejs') %>
                </div>
                <p>座位</p>
                <ul id="seats_chose"></ul>
                
                <p>票数：<span id="tickects_num">0</span></p>
                <p>总价：<b>￥<span id="total_price">0</span></b></p>

                <a href="./payment" class="btn">确定购买</a>



            </div>
        </div>
    </div>
    <!-- 底部 -->
    <%- include('./layouts/bottom.ejs')%>


    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/art-template/lib/template-web.js"></script>
    <script src="./js/jquery.seat-charts.min.js"></script>
    <script src="./js/ticketajax.js"></script>
    <script src="./js/ticketselect.js"></script>

    <script>


    </script>
</body>

</html>