<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./css/reset.css"> -->
    <link rel="stylesheet" href="./css/hostspot-ZJ.css">
    <link rel="stylesheet" href="./css/All-use-css/heade.css">
    <link rel="stylesheet" href="./css/All-use-css/bottom.css">
    <link rel="stylesheet" href="./css/movieselection-ZJ.css">
    <link rel="stylesheet" href="./css/jq22.css">
</head>

<body>
    <div class="dh">
        <div class="dh_con">
            <%- include('./layouts/heady.ejs')%>
            <div class="nav">
                <ul class="nav-ul">
                    <li><a href="/">首页</a></li>
                    <li><a href="/filmClassics">电影</a></li>
                    <li><a href="/filmroom">影院</a></li>
                    <li><a href="">演出</a></li>
                    <li><a href="/Bohemian_Rhapsody">榜单</a></li>
                    <li><a href="">热点</a></li>
                    <li class="ys"> <a style="color:white" href="/shopping">商城</a></li>
                </ul>
            </div>
            <%- include('./layouts/header.ejs')%>

        </div>
    </div>

    <div class="container">
        <div class="order-progress-bar">
            <div class="step done first">
                <span class="step-num">1</span>
                <div class="bar"></div>
                <span class="step-text">选座电影场次</span>
            </div>
            <div class="step done">
                <span class="step-num">2</span>
                <div class="bar"></div>
                <span class="step-text">选择座位</span>
            </div>
            <div class="step">
                <span class="step-num">3</span>
                <div class="bar"></div>
                <span class="step-text">14分钟内购款</span>
            </div>
            <div class="step last">
                <span class="step-num">4</span>
                <div class="bar"></div>
                <span class="step-text">影院取票观票</span>
            </div>
        </div>

        <div class="demo clearfix">

            <div id="seat_area">

                <div class="front">屏幕</div>

            </div>
            <div class="booking_area">
                <%-include('./template/ticket-film.ejs') %>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <%- include('./layouts/bottom.ejs')%>


    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/art-template/lib/template-web.js"></script>
    <script src="./js/jquery.seat-charts.min.js"></script>
    <script src="./js/ticketajax.js"></script>

    <script>







        var price = 100; //电影票价



        var $cart = $('#seats_chose'), //座位区

            $tickects_num = $('#tickects_num'), //票数

            $total_price = $('#total_price'); //票价总额



        var sc = $('#seat_area').seatCharts({

            map: [//座位结构图 a 代表座位; 下划线 "_" 代表过道

                'cccccccccc',

                'cccccccccc',

                '__________',

                'cccccccc__',

                'cccccccccc',

                'cccccccccc',

                'cccccccccc',

                'cccccccccc',

                'cccccccccc',

                'cc__cc__cc'

            ],

            naming: {//设置行列等信息

                top: false, //不显示顶部横坐标（行） 

                getLabel: function (character, row, column) { //返回座位信息 

                    return column;

                }

            },

            legend: {//定义图例

                node: $('#legend'),

                items: [

                    ['c', 'available', '可选座'],

                    ['c', 'unavailable', '已售出']

                ]

            },

            click: function () {

                if (this.status() == 'available') { //若为可选座状态，添加座位

                    $('<li>' + (this.settings.row + 1) + '排' + this.settings.label + '座</li>')

                        .attr('id', 'cart-item-' + this.settings.id)

                        .data('seatId', this.settings.id)

                        // .attr('row', this.settings.row + 1)

                        // .attr('column', this.settings.label)
                        .appendTo($cart);



                    $tickects_num.text(sc.find('selected').length + 1); //统计选票数量

                    $total_price.text(getTotalPrice(sc) + price);//计算票价总金额



                    return 'selected';

                } else if (this.status() == 'selected') { //若为选中状态



                    $tickects_num.text(sc.find('selected').length - 1);//更新票数量

                    $total_price.text(getTotalPrice(sc) - price);//更新票价总金额

                    $('#cart-item-' + this.settings.id).remove();//删除已预订座位



                    return 'available';

                } else if (this.status() == 'unavailable') { //若为已售出状态

                    return 'unavailable';

                } else {

                    return this.style();

                }

            }

        });

        //设置已售出的座位
        // let seats = [];

        // $.ajax({
        //     type: 'get',
        //     url: "/sqldata",
        //     dataType: 'json',
        //     error: function (data, status) { alert(status); },
        //     success: function (data, status) {
        //         //alert(status);
        //         //定义一个不限长度的数组
        //         var arr = new Array();
        //         //把得到的数据循环遍历
        //         $.each(data, function (i, temp) {
        //             //把遍历出来元素存放到数组里面
        //             arr[i] = temp.interfaceField_id;
        //             //alert(arr[i]);
        //         });

        //     },
        // });


        sc.get(['1_3', '1_4', '4_4', '4_5', '4_6', '4_7', '4_8']).status('unavailable');

        // console.log(seats);
        // sc.get(seats).status('unavailable');

        function getTotalPrice(sc) { //计算票价总额

            var total = 0;

            sc.find('selected').each(function () {

                total += price;

            });

            return total;

        }


    </script>
</body>

</html>