body{
  font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
  background-color: #fff;
}








/* 1.顶部start */
.dh{
  position: fixed;
  width: 100%;    /* position: absolute; */
  background-color: #fff;
  height: 81px;
  top: 0;
  border-bottom: 1px solid #d8d8d8;
  z-index: 100;
}
.dh_con{
  position: relative;
  /* position: absolute; */
  margin: 0 auto;
  height: 81px;
  width: 1200px;
}
/* log */
.log{
  display:inline-block;
  width: 133px;
  height: 80px;
  background: url(../images/shopping-mall/log.png) no-repeat 0;
}
/* 城市 */
.spm_sy{
  margin-left: 8px;
  margin-top: 0px;
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100%;
  line-height: 80px;
}
.sy{
position: absolute;
  margin-top: 0px;
  display:inline-block;

}
.sy .caret{
  /* float: left; */
  float: right;
  margin-top: 40px;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid #666;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: all .2s ease;

}
.sy:hover .city-list{
  display: block;
}



.city-list {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  position: absolute;
  z-index: 100;
  width: 478px;
  height: 330px;
  overflow-y: scroll;
  left: -6px;
  top: 81px;
  display: none;
}
.city-list .city-list-header {
  padding-left: 20px;
  line-height: 58px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.city-list ul li span {
  margin-left: 20px;
  width: 20px;
  text-align: center;
  float: left;
  /* vertical-align: top; */
  display: block;
  background-color: #eee;
  font-weight: 700;
  line-height: 20px;
  margin-top: 5px;
}
.city-list ul li {
  line-height: 30px;
}
.city-list ul li div {
  margin-left: 40px;
  display: block;
  margin-bottom: 10px;
}
.city-list ul li div a {
  position: relative;
  left: 1px;
  display: inline-block;
  line-height: 24px;
  margin-top: 3px;
  padding: 0 5px;
  text-align: center;
  cursor: pointer;
}

.city-list ul li div a:hover {
  color: #ffffff;
  background-color: #ff3024;
}


/* 导航 */
.nav {
  display: inline-block;
  margin-left: 66px;
  width: 490px;
  height: 100%;
}
.nav-ul{
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
}
.nav-ul>li{
  float: left;
}
.nav-ul>li>a{
  text-align: center;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  width: 70px;
  font-size: 18px;
  color: #333;
}
.nav-ul>.ys{
  color: #fff;
  background-color: #ef4238;

}
.nav-ul>.ys>a{
 color: #fff;
} 
/* app下载 */
.app-xz{
  position: absolute;
  margin-left: 40px;
  margin-top: 29px;
  display: inline-block;
}
.app-xz>a{
  position: absolute;
  display: block;
  height: 67px;
  width: 100px;
}
.app-zi{
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #000;
  height: 24px;
  top: -5px;

}
.app-tu{
  display: inline-block;
  width: 15px;
  height: 24px;

  background: url(../images/shopping-mall/app-xz下载.png) no-repeat 0;
}
.app-jt{
  position: absolute;
  top: 7px;
  right: 2px;
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid #666;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: all .2s ease;
}

.appa:hover .download-icon{
  display: block;
  z-index: 100;
}

.download-icon {
  display: none;
  width: 130px;
  height: 165px;
  position: absolute;
  left: -12px;
  top: 52px;
  background-color: #fff;
  background-image: url(../images/shopping-mall/app.png);
  background-position: 24px 14px;
  background-size: 82px 82px;
  background-repeat: no-repeat;
  border: 1px solid #dcd4d7;
  border-top: 0;
}
.download-icon .down-title {
  margin-top: 115px;
  margin-bottom: 3px;
  color: #000;
}
.download-icon p {
  text-align: center;
  font-size: 14px;
  color: #999;
  margin: 0;
}
/* 搜索 */
.search-form {
  float: right;
  margin: 20px 85px 0 0;
  position: relative;
  list-style: none;

}
.search {
  display: inline-block;
  height: 40px;
  line-height: 1.2;
  width: 220px;
  padding: 0 40px 0 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 30px;
  background-color: #faf8fa;
  overflow: hidden;
  color: #333;
}
.submit {
  display: inline-block;
  position: absolute;
  left: 180px;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #ef4238;
  border-radius: 30px;
  background-image: url(../images/shopping-mall/ss.png);
  cursor: pointer;
  box-sizing: border-box;
  list-style: none;
  border: none;
}
/* 登录 */
.user-info {
  float: right;
  height: 100%;
}
.user-info .user-avatar {
  display: block;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: none;
  padding: 0 10px;
  width: 56px;
  height: 100%;
  border-style: none;
  position: absolute;
  top: 20px;
  right: 0px;
}
.user-info .user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.user-info .user-avatar .caret {
  position: absolute;
  right: 0px;
  top: 10px;
}
.user-info:hover .user-menu{
  display: block;
}
.user-menu {
  display: none;
  position: absolute;
  top: 60px;
  border: 1px solid #d8d8d8;
  border-top: none;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  text-align: right;
  padding: 15px 26px 5px;
  text-align: center;
}
.user-menu li {
  margin-bottom: 6px;
  list-style: none;
}
.user-menu li>a {
  color: #999;
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 箭头 */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid #666;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
/* 1.顶部end*/












.hit-move{
  width: 1200px;
  margin:135px auto 0;
}

.content{
  overflow: hidden;
  margin-top: 62px;

}
.main{
  padding: 0 18px;
  margin-right: 363px;
}

.move-grid {
    margin-top: -62px;
}


.move-grid .panel {
    margin: 62px 0 0;
    width: 750px;
}

.main-header{
  width: 740px;
  overflow: hidden;
  height: 26px;
  line-height: 26px;
}
.main-top-more{
  font-size: 14px;
  line-height: 16px;
  float: right;
  margin-top: 10px;
}
.text-color{
  color: #ef4238!important;
}
a{
 text-decoration: none; 
}
.main-top-more-logo{
  display: inline-block;
    width: 8px;
    height: 14px;
    background-image: url(../images/jiant.png)
}
.main-top-title{
  font-size:26px; 
}
.main-content{
  overflow: hidden;
  width: 100%;
  margin-top: 23px;
}
.move-list{
  margin: -29px 0 20px -25px;
}
.move-list dd{
  margin: 30px 0 0 30px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.move-item{
  position: relative;
  border: 1px solid #efefef;
  margin: -1px;
}
.move-poster {
  background-color: #fcfcfc;
  width: 160px;
  height: 220px;
  overflow: hidden;
  position: relative;
}
.move-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/bottom.png) repeat-x bottom; 
}
.move-info {
  color: #fff;
  position: absolute;
  bottom: 7px;
  width: 100%;
}
.move-score{
  color: #ffb400;
  float: right;
  margin-right: 10px;
}

.move-score .integer {
  font-size: 18px;
  font-style: italic;
}
.move-score .fraction {
  font-size: 14px;
  font-style: italic;
}
.move-title{
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}

.move-sale{
  height: 39px;
  line-height: 39px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.move-sale .active{
    display: block;
    color: #ef4238;
    font-size: 14px;
}

.move-sale a.active:hover {
  color: #fff;
  background-color: #ef4238;
}

.textcolor_bule{
  color: #2d98f3!important;
}
.main-top-more-blue{
  display: inline-block;
    width: 8px;
    height: 14px;
  background: url(../images/bule.png) 
}
.want-see{
  font-size: 14px;
  color: #ffb400;
  background-color: #fbfbfb;
  text-align: left;
  padding-left: 10px;
  height: 34px;
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-presale{
  height: 39px;
  line-height: 39px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-presale a{
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  color: #999;
  font-size: 14px;

}
.move-item:hover {
  box-shadow: 0 0 8px #fff, 0 5px 13px rgba(0,0,0,.07);
}
.movie-presale-sep{
  border-right: 1px dotted #e5e5e5;
}
.movie-presale a.active {
  color: #2d98f3;
}
.movie-presale a.active:hover {
  color: #fff;
  background-color: #2d98f3;
}
.movie-rt{
  border: none;
  color: #999;
  font-size: 14px;
  line-height: 40px;
  height: 34px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.panel-subtitle{
  margin-left: 10px;

}
.panel-subtitle a{
  font-size: 14px;
  color: #333;
}


.movie-poster-long{
  width: 350px;
  height: 220px;
}


/* 右边 */
.aside {
  float: right;
  width: 360px;
}
.panel{
  margin: 0;
}
.panel-header{
  overflow: hidden;
    height: 26px;
    line-height: 26px;
}
.panel-title{
  font-size: 26px;
}
.panel-content{
  overflow: hidden;
  width: 100%;
  margin-top: 23px;
}
.ranking-item {
  overflow: hidden;
}
.ranking-index-1 {
  margin-bottom: 11px;
  border: 1px solid #efefef;
}
.ranking-top-left{
  width: 120px;
  height: 78px;
  float: left;
  position: relative;
}
.ranking-top-icon{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 25px;
    background: url(../images/sbz.png) no-repeat;
    background-size: contain;
}
.ranking-top-right{
  height: 78px;
  line-height: 78px;
  padding-left: 10px;
  overflow: hidden;
}
.ranking-top-right-main{
  width: 220px;
  display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.ranking-top-moive-name{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  color: #333;
  line-height: 1.4;
}

.ranking-top-wish{
  margin-top: 12px;
  font-size: 14px;
  color: #ef4238;
  line-height: 1;
}
.stonefont {
  font-family: stonefont;
}
.normal-link{
  display: block;
  height: 35px;
  line-height: 35px;
}
.ranking-index{
  color: #ef4238;
  display: inline-block;
  width: 20px;
  font-size: 18px;
  vertical-align: top;
  line-height: 35px;
}
.ranking-movie-name{
  display: inline-block;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: #333;
  vertical-align: top;
}
.ranking-num-infoa{
  color: #ef4238;
  float: right;
    font-size: 14px;
}

.textcolor_graa{
  color: #999 !important;
}


.box-total-wrapper{
  margin-top: 29px;
  background-color: #fdfdfd;
  border: 1px solid #efefef;
  padding-right: 15px;
}



.box-total-wrapper>h3 {
  float: left;
  width: 20px;
  height: 83px;
  padding: 10px;
  color: #fff;
  background-color: #ef4238;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
.box-total-wrapper>div {
  font-size: 14px;
  margin-left: 54px;
  color: #ef4238;
  padding-top: 20px;
}
.box-total-wrapper>div .num {
  font-size: 30px;
  font-weight: 700;
  margin-right: 2px;
}

.box-total-wrapper>div a.more {
    color: #ef4238;
    margin-top: 13px;
    float: right;
    line-height: 16px;
}
.panel-arrow{
  display: inline-block;
  width: 8px;
  height: 14px;
  vertical-align: top;
  background: url(../images/jiant.png) top no-repeat ;
}

.meta-info {
  color: #999;
  margin-top: 12px;
}
.pull-right {
  float: right!important;
}

.clearfix {
  content: " ";
  display: block;
  overflow: hidden;
  clear: both;
}

.most-expect-wrapper {
  margin-top: 80px;
}
.panel-more {
  font-size: 14px;
  line-height: 16px;
  float: right;
  margin-top: 10px;
}
.textcolor_orange {
  color: #ffb400!important;
}

.panel-arrowo{
  display: inline-block;
  width: 8px;
  height: 14px;
  vertical-align: top;
  background: url(../images/jto.png) top no-repeat;
}


.ranking-mostExpect .ranking-top-left {
  width: 140px;
  height: 194px;
  float: left;
  position: relative;
}


.ranking-mostExpect .ranking-top-icon{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 25px;
  background: url(../images/hhh.png) no-repeat;
  background-size: contain;
}

.ranking-mostExpect .ranking-index-1 .ranking-img {
  width: 100%;
  height: 194px;
}

.ranking-mostExpect .ranking-top-right {
    height: 194px;
    line-height: 194px;
}


.ranking-top-right .ranking-release-time {
  margin-top: 12px;
  font-size: 15px;
  color: #999;
}
.ranking-top-right .ranking-top-wish {
  color: #ef4238;
}

.ranking-top-right .ranking-top-wish {
  margin-top: 12px;
  font-size: 14px;
  color: #ffb400;
}
.ranking-top-right .ranking-top-wish {
  color: #ef4238;
}

.ranking-index-2{
  border: 1px solid #efefef;
  position: relative;
  width: 170px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.ranking-index-2 a {
  display: block;
}
.ranking-mostExpect .ranking-index-2 .ranking-num-info, .ranking-mostExpect .ranking-index-3 .ranking-num-info {
  float: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 6px;
  margin-left: 10px;
}


.ranking-indexa{
  position: absolute;
  padding-left: 4px;
  width: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #ffb400;
}

.img-link img{
  width: 100%;
   height: 118px;

}
.default-img {
  display: block;
  background-image: url(../images/loading_2.e3d934bf.png);
  background-position: 50%;
  background-size: 68px 62px;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(191, 191, 191);
}
.ranking-img {
  vertical-align: middle;
}


.name-link {
  display: block;
  font-size: 18px;
  color: #333;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.ranking-num-info {
  float: right;
  color: #fdb863;
  font-size: 14px;
}
.ranking-index-3 {
  border: 1px solid #efefef;
  position: relative;
  width: 170px;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 8px;}

  .ranking-index-4{
    clear: both;
  }

  .aside .top100-wrapper {
    margin-top: 100px;
}






/* 4.底部start */
.footer {
  background-color: #262426;
  padding: 56px 0;
  margin: 0 auto;
  min-width: 1200px;
  margin-top: 110px;
  visibility: hidden;
}
.footer p, .footer p a {
  color: #666;
}

.footer p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.footer .friendly-links a:hover {
  text-decoration: underline;
}
.footer .friendly-links a {
  color: #ef4238;
}
.friendly-links span {
  display: inline-block;
  border-left: 1px solid #444;
  margin: 0 7px;
  height: 12px;
  position: relative;
  top: 1px;
}
/* 4.底部end */