.order-progress-bar {
    height: 60px;
    width: 100%;
    margin: 40px 0;
    text-align: center;
}

.step {
    float: left;
    width: 25%;
}

.step-num {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffd8d7;
    top: 10px;
}

.bar {
    width: 0;
    height: 4px;
    border-left: 150px solid #ffd8d7;
    border-right: 150px solid #ffd8d7
}

.done .bar,.done .step-text{
    border-color: #fd3037;
    color: #f03d37;
}

.done .step-num {
    background-color: #fd3037;
}

.first .bar{
    border-left-color: transparent;
}
.last .bar{
    border-right-color: transparent;
}


.step-text {
    font-size: 14px;
    color: #999;
    display: inline-block;
    margin-top: 10px;
}

.select-ticket {
    width: 100%;
    border: 1px solid #e5e5e5;
    font-size: 0;
}

.seats { 
     width: 820px;
    display: inline-block;
    vertical-align: top;
}

.seat-example {
  margin: 30px 0 30px 118px;
}

.example {
    display: inline-block;
    font-size: 16px;
    color: #666;
    height: 26px;
    line-height: 26px;
    padding-left: 38px;
    background-repeat: no-repeat;
    margin-right: 50px;
}

.selecttable-seats {
    background-image: url('../images/imgs-ZJ/seat-zj.png')
}

.sole-seats {
    background-image: url('../images/imgs-ZJ/seat-sole-zj.png');
}

.selected-seats {
    background-image: url('../images/imgs-ZJ/seat-selected.png');
}

.double-seats {
    padding-left: 77px;
    background-image: url('../images/imgs-ZJ/seat-double-zj.png');
}

.screening-box {
    font-size: 0;
    overflow: hidden;
    margin-left: 20px;
    white-space: nowrap;
}

 .row-id-box {
    width: 20px;
    float: left;
    margin-top: 112px;
    white-space: normal;
}

.row-id {
    font-size: 16px;
    color: #999;
    margin-right: 40px;
    margin-bottom: 10px;
    display: inline-block;
    width: 20px;
    height: 26px;
    line-height: 29px;
    text-align: center;
}

.seats-box{
    margin-left: 50px;
    overflow: auto;
    position: relative;
    padding-top: 112px;
}

.screen-box {
    display: inline-block;
    position: absolute;
    left: 85px;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.screen {
    width: 550px;
    padding-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #666;
    background: url('../images/imgs-ZJ/screen-center-zj.png') no-repeat;
    background-position-x: center;
    position: relative;
    margin-bottom: 40px;
}

.screen-center-line {
    width: 0;
    border-left: 1px dashed #e5e5e5;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 50%;
}

.seats-block {
    display: inline-block;
    min-width: 550px
}

.seats-row {
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: center;
}

.seat {
    display: inline-block;
    font-size: 0;
    width: 30px;
    height: 26px;
    margin: 0 5px;
    background-image: url(../images/imgs-ZJ/seat-zj.png);
    background-position: 0 1px;
}

.movie-block{
    width: 340px;
    background-color: #f9f9f9;
    padding: 20px;
    display: inline-block;
}

.movie-pic {
    float: left;
    width: 115px;
    height: 158px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 2px 7px 0 hsla(0,0%,53%,.5);
    box-shadow: 0 2px 7px 0 hsla(0,0%,53%,.5);
}

.movie-pic img {
    width: 100%;
    height: 100%;
}

.movie-text {
    margin-left: 140px;
}

.movie-name {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin: 0 0 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-info {
    font-size: 12px;
    color: #999;
    margin-bottom: 4px;
}

.movie-message {
    color: #151515;
    margin-left: 2px;
}

.info-cinema {
    margin-top: 20px;
}

.info-cinema .text-info {
    margin-bottom: 9px;
}

.info-cinema  span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.info-cinema .movie-message {
    width: 85%
}

.tred {
    color: #f03d37;
}

.info-ticket {
    padding: 20px 0 10px;
    border-top: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5
}

.info-ticket {
    display: block;
}

.buy-ticket {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.no-select {
    font-size: 14px;
    text-align: center;
    color: #333;
    margin: 28px 0 39px;
}

.has-ticket {
    display: none;
}

.seat-ticket{
    font-size: 14px;
    color: #999;
    float: left;
}

.ticket-selected {
    margin-left: 42px;
    margin-bottom: 20px;
    position: relative;
    top: -5px;
}

.ticket {
    cursor: default;
    position: relative;
    font-size: 12px;
    color: #f03d37;
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 12px 10px 0;
    background: url('../images/imgs-ZJ/ticket-selected-zj.png') no-repeat;
}

.total {
    font-size: 14px;
    color: #333;
}

.price {
    color: #f03d37;
    font-size: 24px;
}

.price:before {
    content: "\FFE5";
    font-size: 14px;
}


.confim-order {
    padding: 20px 0;
    text-align: center;
}

.isLogin-block {
    display: inline-block;
    width: 260px;
    padding: 0;
}

.phone-number,.islogin-code {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}


.phone-number-input,.islogin-code-input,.islogin-btn {
    display: block;
    width: 218px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    margin-bottom: 6px;
    padding: 0 20px;
    color: #333;
    background: #fff;
    font-size: 14px;
}


.send-code {
    display: inline-block;
    position: absolute;
    top: 11px;
    right: 15px;
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 14px;
    color: #ccc;
    background: transparent;
}

/* 当判断可以发送时的类名 */

.can-send-code {
    border: none;
    color: #f03d37;
}

.login-btn {
    margin-top: 45px;
}

.islogin-btn {
    text-align: center;
    color: #999;
    background: #e5e5e5;
    height: 2.8em;
    line-height: 2.8em;
    border-radius: .3em;
    width: 100%;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.islogin-btn {
    width: 260px;
    line-height: 42px;
    border-radius: 21px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 2px 10px -2px #f03d37;
    background-color: #f03d37;

}

.disable {
    box-shadow: none;
    background-color: #dedede;
    pointer-events: none;
}