* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
}

.yz_content {
    width: 1200px;
    margin: 0 auto;
}

.yz_clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
}

/* 1.顶部start */
.dh{
    position: fixed;
    width: 100%;    /* position: absolute; */
    background-color: #fff;
    height: 81px;
    border-bottom: 1px solid #d8d8d8;
    z-index: 100;
}
.dh_con{
    position: relative;
    /* position: absolute; */
    margin: 0 auto;
    height: 81px;
    width: 1200px;
}
/* log */
.log{
    display:inline-block;
    width: 133px;
    height: 80px;
    background: url(../images/shopping-mall/log.png) no-repeat 0;
}
/* 城市 */
.spm_sy{
    margin-left: 8px;
    margin-top: 0px;
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 100%;
    line-height: 80px;
}
.sy{
position: absolute;
    margin-top: 0px;
    display:inline-block;
 
}
.sy .caret{
    /* float: left; */
    float: right;
    margin-top: 40px;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: all .2s ease;
  
}
.sy:hover .city-list{
    display: block;
}



.city-list {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    position: absolute;
    z-index: 100;
    width: 478px;
    height: 330px;
    overflow-y: scroll;
    left: -6px;
    top: 81px;
    display: none;
}
.city-list .city-list-header {
    padding-left: 20px;
    line-height: 58px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.city-list ul li span {
    margin-left: 20px;
    width: 20px;
    text-align: center;
    float: left;
    /* vertical-align: top; */
    display: block;
    background-color: #eee;
    font-weight: 700;
    line-height: 20px;
    margin-top: 5px;
}
.city-list ul li {
    line-height: 30px;
}
.city-list ul li div {
    margin-left: 40px;
    display: block;
    margin-bottom: 10px;
}
.city-list ul li div a {
    position: relative;
    left: 1px;
    display: inline-block;
    line-height: 24px;
    margin-top: 3px;
    padding: 0 5px;
    text-align: center;
    cursor: pointer;
}

.city-list ul li div a:hover {
    color: #ffffff;
    background-color: #ff3024;
}


/* 导航 */
.nav {
    display: inline-block;
    margin-left: 66px;
    width: 490px;
    height: 100%;
}
.nav-ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
}
.nav-ul>li{
    float: left;
}
.nav-ul>li>a{
    text-align: center;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 70px;
    font-size: 18px;
    color: #333;
}

.nav-ul>li>a:hover {
    color: #ef4238;
}

.nav-ul>.ys{
    color: #fff;
    background-color: #ef4238;

}
 .nav-ul>.ys>a{
   color: #fff;
} 
/* app下载 */
.app-xz{
    position: absolute;
    margin-left: 40px;
    margin-top: 29px;
    display: inline-block;
}
.app-xz>a{
    position: absolute;
    display: block;
    height: 67px;
    width: 100px;
}
.app-zi{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #000;
    height: 24px;
    top: -5px;

}
.app-tu{
    display: inline-block;
    width: 15px;
    height: 24px;

    background: url(../images/shopping-mall/app-xz下载.png) no-repeat 0;
}
.app-jt{
    position: absolute;
    top: 7px;
    right: 2px;
    display: inline-block;
    vertical-align: middle;
    border-top: 5px solid #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: all .2s ease;
}

.appa:hover .download-icon{
    display: block;
    z-index: 100;
}

.download-icon {
    display: none;
    width: 130px;
    height: 165px;
    position: absolute;
    left: -12px;
    top: 52px;
    background-color: #fff;
    background-image: url(../images/shopping-mall/app.png);
    background-position: 24px 14px;
    background-size: 82px 82px;
    background-repeat: no-repeat;
    border: 1px solid #dcd4d7;
    border-top: 0;
}
.download-icon .down-title {
    margin-top: 115px;
    margin-bottom: 3px;
    color: #000;
}
.download-icon p {
    text-align: center;
    font-size: 14px;
    color: #999;
    margin: 0;
}
/* 搜索 */
.search-form {
    float: right;
    margin: 20px 85px 0 0;
    position: relative;
    list-style: none;

}
.search {
    display: inline-block;
    height: 40px;
    line-height: 1.2;
    width: 220px;
    padding: 0 40px 0 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    border-radius: 30px;
    background-color: #faf8fa;
    overflow: hidden;
    color: #333;
}
.submit {
    display: inline-block;
    position: absolute;
    left: 180px;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: #ef4238;
    border-radius: 30px;
    background-image: url(../images/shopping-mall/ss.png);
    cursor: pointer;
    box-sizing: border-box;
    list-style: none;
    border: none;
}
/* 登录 */
.user-info {
    float: right;
    height: 100%;
}
.user-info .user-avatar {
    display: block;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    padding: 0 10px;
    width: 56px;
    height: 100%;
    border-style: none;
    position: absolute;
    top: 20px;
    right: 0px;
}
.user-info .user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
 .user-info .user-avatar .caret {
    position: absolute;
    right: 0px;
    top: 10px;
}
.user-info:hover .user-menu{
    display: block;
}
.user-menu {
    display: none;
    position: absolute;
    top: 60px;
    border: 1px solid #d8d8d8;
    border-top: none;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    text-align: right;
    padding: 15px 26px 5px;
    text-align: center;
}
.user-menu li {
    margin-bottom: 6px;
    list-style: none;
}
.user-menu li>a {
    color: #999;
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 箭头 */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
/* 1.顶部end */

/* 2.内容start */
.yz_container {
    padding-top: 112px;
    margin-bottom: 80px;
}

.yz_main {
    height: 900px;
    border: 1px solid #e1e1e1;
}

.yz_user_profile_nav {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #f5f4f5;
    border-right: 1px solid #e1e1e1;
}

.yz_user_profile_nav > h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #222;
    font-weight: 400;
    text-align: center;
}

.yz_user_profile_nav > a {
    display: block;
    font-weight: 400;
    height: 40px;
    width: 202px;
    margin-left: -1px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
}

.yz_profile {
    color: #ffffff;
    background-color: #ff240c;
}

.yz_profile_container {
    float: right;
    width: 935px;
    height: 100%;
}

.yz_profile_title {
    padding: 26px 0;
    color: #ec443f;
    font-size: 18px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

/* 个人填写信息处 */
.yz_avatar-container {
    float: left;
}

.yz_upload_avatar_w {
    position: relative;
    cursor: pointer;
    /* text-align: center; */
    padding-left: 55px;
}

/* 按钮1 */
.yz_upload_avatar {
    cursor: pointer;
    margin: 20px auto 0;
    width: 182px;
    height: 56px;
    line-height: 56px;
    color: #5b5b5b;
    background-color: #e6e6e6;
    border-radius: 10px;
    border: 1px;
    font-size: 18px;
    padding: 0;
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
}

/* 按钮2--上传头像按钮 */
.yz_upload_avatar2 {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    bottom: -50px;
    direction: ltr;
    font-size: 200px!important;
    cursor: pointer;
}

.yz_tips {
    display: block;
    margin-top: 10px;
    color: #999;
    font-size: 18px;
    line-height: 30px;
}
.ui-checkbox{
    border: none;
    outline: none;
    /* -webkit-appearance: none; */
    width: 15px;
    height: 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
}




/* 表单内容 */
.userexinfo-form {
    float: left;
    width: 495px;
    margin-left: 58px;
}


.userexinfo-form-section {
    position: relative;
    color: #666;
    margin: 9px 0;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
}

.userexinfo-form-section > p {
    float: left;
    font-size: 16px;
    
}

.userexinfo-form-section > span {
    float: left;
    display: block;
    margin-right: 10px;
}

/* 生日日期的div */
.ui-select {
    display: inline-block;
    height: 30px;
    padding: 0 5px 0 10px;
}

.userexinfo-form-section input[type=text] {
    width: 240px;
    font-size: 12px;
    height: 30px;
    padding-left: 10px;
}

/* 兴趣 */
.interest-list {
    width: 300px;
}

.interest-list > span {
    margin-right: 5px;
}

.interest-list .bottom-tips {
    font: 12px/1.14 arial,\5b8b\4f53;
    display: inline-block;
    color: #ccc;
}

.userexinfo-form .form-save-btn {
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    border: none;
    background-color: #ed3931;
    padding: 0;
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
}

.userexinfo-form .userexinfo-bottom-section {
    margin-top: 20px;
    padding-left: 80px;
    line-height: 30px;
    font-size: 14px;
}

.userexinfo-form-section:nth-child(2){
    width: 312px;
}



/* 2.内容end*/


/* 3.底部start */
.footer {
    background-color: #262426;
    padding: 56px 0;
    margin: 0 auto;
    min-width: 1200px;
    margin-top: 110px;
    visibility: hidden;
}
.footer p, .footer p a {
    color: #666;
}

.footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.footer .friendly-links a:hover {
    text-decoration: underline;
}
.footer .friendly-links a {
    color: #ef4238;
}
.friendly-links span {
    display: inline-block;
    border-left: 1px solid #444;
    margin: 0 7px;
    height: 12px;
    position: relative;
    top: 1px;
}
/* 3.底部end */