
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #333;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
}
.container{
    /* margin-top: 81px; */
    margin: 0 auto;
    padding-top: 70px;
    width: 1200px;
    height: 1200px;
}
body {
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
/* 顶部导航 */

.dh{
    /* margin-top: 100px; */
    width: 100%;
    position: fixed;
    height: 81px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 50px;
}
.dh_con{
    position: relative;
    margin: 0 auto;
    height: 81px;
    width: 1200px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
}
/* log */
.log{
    display:inline-block;
    width: 133px;
    height: 80px;
    background: url(../images/shopping-mall/log.png) no-repeat 0;
}
/* 城市 */
.spm_sy{
    margin-left: 8px;
    margin-top: 0px;
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100%;
    line-height: 80px;
}
.sy{
    position: absolute;
    margin-top: 0px;
    display: inline-block;
    font-size: 16px;
    color: #333;
 
}
.sy .caret{
    /* float: left; */
    float: right;
    margin-top: 40px;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: all .2s ease;
  
}
.sy:hover .city-list{
    display: block;
}



.city-list {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    position: absolute;
    z-index: 100;
    width: 478px;
    height: 330px;
    overflow-y: scroll;
    left: -6px;
    top: 81px;
    display: none;
}
.city-list .city-list-header {
    padding-left: 20px;
    line-height: 58px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.city-list ul li span {
    margin-left: 20px;
    width: 20px;
    text-align: center;
    float: left;
    vertical-align: top;
    display: block;
    background-color: #eee;
    font-weight: 700;
    line-height: 20px;
    margin-top: 5px;
}
.city-list ul li {
    line-height: 30px;
}
.city-list ul li div {
    margin-left: 40px;
    display: block;
    margin-bottom: 10px;
}
.city-list ul li div a {
    position: relative;
    left: 1px;
    display: inline-block;
    line-height: 24px;
    margin-top: 3px;
    padding: 0 5px;
    text-align: center;
    cursor: pointer;
}


.city-list ul li div a:hover {
    background-color: #ef4238;
    color: #fff;
}





/* 导航 */
.nav {
    display: inline-block;
    margin-left: 66px;
    width: 490px;
    height: 100%;
}
.nav-ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
}
.nav-ul>li{
    float: left;
}
.nav-ul>li>a{
    text-align: center;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 70px;
    font-size: 18px;
    color: #333;
}
.nav-ul>.ys{
    color: #fff;
    background-color: #ef4238;

}
 .nav-ul>.ys>a{
   color: #fff;
} 
/* app下载 */
.app-xz{
    position: absolute;
    margin-left: 40px;
    margin-top: 29px;
    display: inline-block;
}
.app-xz>a{
    position: absolute;
    display: block;
    height: 63px;
    width: 100px;
}
.app-zi{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #000;
    height: 24px;
    top: -5px;

}
.app-tu{
    display: inline-block;
    width: 15px;
    height: 24px;

    background: url(../images/shopping-mall/app-xz下载.png) no-repeat 0;
}
.app-jt{
    position: absolute;
    top: 7px;
    right: 2px;
    display: inline-block;
    vertical-align: middle;
    border-top: 5px solid #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: all .2s ease;
}

.appa:hover .download-icon{
    display: block;
}

.download-icon {
    display: none;
    width: 130px;
    height: 165px;
    position: absolute;
    left: -12px;
    top: 52px;
    background-color: #fff;
    background-image: url(../images/shopping-mall/app.png);
    background-position: 24px 14px;
    background-size: 82px 82px;
    background-repeat: no-repeat;
    border: 1px solid #dcd4d7;
    border-top: 0;
}
.download-icon .down-title {
    margin-top: 115px;
    margin-bottom: 3px;
    color: #000;
}
.download-icon p {
    text-align: center;
    font-size: 14px;
    color: #999;
    margin: 0;
}
/* 搜索 */
.search-form {
    float: right;
    margin: 20px 85px 0 0;
    position: relative;
    list-style: none;

}
.search {
    display: inline-block;
    height: 40px;
    line-height: 1.2;
    width: 220px;
    padding: 0 40px 0 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 30px;
    background-color: #faf8fa;
    overflow: hidden;
    color: #333;
}
.submit {
    display: inline-block;
    position: absolute;
    left: 180px;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: #ef4238;
    border-radius: 30px;
    background-image: url(../images/shopping-mall/ss.png);
    cursor: pointer;
    box-sizing: border-box;
    list-style: none;
    border: none;
}
/* 登录 */
.user- {
    position: absolute;
    top: 20px;
    right: 0px;
    float: right;
    height: 100%;
}
.user- .user-avatar {
  
    /* position: relative; */
    display: block;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    padding: 0 10px;
    width: 56px;
    height: 100%;
    border-style: none;
}
.user- .user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.user- .user-avatar .careta {
    margin-top: -39px;
}
.user-:hover .user-menu{
    display: block;
}
.user-menu {
    display: none;
    position: absolute;
    /* right: -315px; */
    top: 61px;
    border: 1px solid #d8d8d8;
    border-top: none;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    text-align: right;
    padding: 15px 26px 5px;
    text-align: center;
}
.user-menu li {
    margin-bottom: 6px;
}
.user-menu li>p {
    color: #999;
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.careta {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
/* 箭头 */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
/* 顶部导航 end*/



















/* 内容 */
.conatainer{
    width: 1200px;
    margin: 0 auto;
}
.merchant {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 30px;
}
.merchant .merchant-btn {
    border: 1px solid #f03d37;
    padding: 10px 15px;
    font-size: 15px;
    color: #f03d37;
    border-radius: 22.5px;
}
.merchant .merchant-btn a, .merchant .merchant-btn a:hover, .merchant .merchant-btn a:visited {
    color: #f03d37;
}
/* 商品 */
.product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

.product .prodect-item {
    cursor: pointer;
    margin-bottom: 30px;
}
.product .prodect-item .product-img {
    width: 380px;
    height: 285px;
}
.product .prodect-item .product- {
    padding: 20px 0 0;
}
.product .prodect-item img {
    height: 100%;
}
.product .prodect-item .product- p {
    font-size: 18px;
    color: #333;
}
.product .prodect-item .product- strong {
    color: #f03d37;
    margin-right: 6px;
}
.product .prodect-item .product- span {
    color: #999;
    text-decoration: line-through;
}


/* 内容结束end */


















/* 底部 */
.footer {
    background-color: #262426;
    padding: 56px 0;
    margin: 0 auto;
    min-width: 1200px;
    margin-top: 82px;
    visibility: hidden;
}
.footer p, .footer p a {
    color: #666;
}

.footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.footer .friendly-links a:hover {
    text-decoration: underline;
}
.footer .friendly-links a {
    color: #ef4238;
}
.friendly-links span {
    display: inline-block;
    border-left: 1px solid #444;
    margin: 0 7px;
    height: 12px;
    position: relative;
    top: 1px;
}