/* .main {
height:4000px;
} */

body {
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    /* background-color: rgb(197, 183, 183); */
    -webkit-font-smoothing: subpixel-antialiased;
}


/* 中部区域start */
.container {
    width:1200px;
    margin: 0 auto;
    /* 顶部导航栏添加时删除更改 */
    padding-top:5px;
}

.search-top {
    margin-top: 125px;
    margin-bottom: 40px;
    border: 1px solid #e5e5e5;
    padding: 3px 20px;
}

.search-top li,
.search-top ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.brand {
    padding: 10px 0 !important
}

.brand-border {
    border-top: 1px dashed #e5e5e5
}

.brand-title {
    height: 24px;
    line-height: 24px;
    float: left;
    color: #999;
    font-size: 14px
}

.pre-date {
    font-size: 12px;
    color: #faaf00
}

.search-top ul.tags {
    margin-left: 40px;
}

.tags a:hover {
    color: #ef4238
}

.tags li {
    border-radius: 14px;
    padding: 3px 9px;
    display: inline-block;
    margin-left: 12px;
}

.tags .active {
    background: #f34d41;
    color: #fff
}

.tags li.active .pre-date {
    color: #fff
}

.tags li a {
    color: #333;
    font-size: 14px
}

.tags li.active a {
    color: #fff
}

.film-list .no-cinemas {
    margin-top: 40px;
    font-size: 16px;
    color: #333
}

.film-list .film-list-header {
    font-size: 18px;
    color: #333;
    border-left: 4px solid #f03d37;
    padding-left: 6px;
    line-height: 18px;
    margin: 0
}

.film-list .film-border {
    display: block;
    padding: 20px 0;
    border-bottom: 1px dashed #e5e5e5
}

.film-list .film-info {
    display: inline-block;
    max-width: 80%
}

.film-list .film-name {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    color: #333;
    margin-bottom: 10px
}

.film-list .film-name:hover {
    color: #f03d37;
}

.film-list .film-address {
    font-size: 14px;
    line-height: 14px;
    color: #999
}

.film-list .film-price {
    float: right;
    font-size: 12px;
    color: #999;
    height: 45px;
    line-height: 45px;
}

.film-list .film-price .yuan {
    margin-right: -4px;
    color: #f03d37;
}

.film-list .film-price .price-num {
    font-size: 16px;
    margin-right: -3px;
    font-weight: 700
}

.film-list .choose-down {
    float: right;
    width: 80px;
    height: 45px;
    line-height: 45px;
    margin-left: 36px
}

.film-list .choose-down a {
    display: inline-block;
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #f03d37;
    font-size: 14px;
    line-height: 30px;
    border-radius: 100px;
    text-align: center;
    -webkit-box-shadow: 0 2px 10px -2px #f03d37;
    box-shadow: 0 2px 10px -2px #f03d37
}

.film-list .choose-down a:hover {
    background-color: #ff5e59
}
/* 中部区域end */

.footer {
    background-color: #262426;
    padding: 53px 0;
    margin: -29px auto;
    min-width: 1349px;
    margin-top: 81px;
    margin-left: -75px;
}


.footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color:rgb(97, 95, 95);
}

.friendly-links span {
    display: inline-block;
    border-left: 1px solid #444;
    margin: 0 7px;
    height: 12px;
    position: relative;
    top: 1px;
}

.footer .friendly-links a {
    color: #ef4238;
} 




