<script type="text/template" id="area_template">
  {{each list}}
  <li>
      <a href="javascript:;" class="btn-type" data-id="{{$value.a_id}}">
        {{$value.a_name}}
      </a>
    </li>
    {{/each}}
</script>