<script type="text/template" id="BR_template">
    {{each list}}
    <li class="yz_clearfix yz_shortmain_list">
            <!-- 头像部分 -->
            <div class="yz_portrait-container">
                <div class="yz_shortmain_portrait">
                    <img src="{{$value.comment_photo}}" alt="">
                </div>
                <i></i>
            </div>
            <!-- 文字部分 -->
            <div class="yz_shortmain">
                <div class="yz_shortmain_modu1">
                    <span class="yz_shortmain_name">{{$value.comment_name}}</span>
                    <span class="yz_shortmain_tag">购</span>
                </div>
                <div class="yz_shortmain_modu2">
                    <span>{{$value.comment_date}}</span>
                    <span></span>
                </div>
                <div class="yz_shortmain_modu3">
                    <i></i>
                    <span>{{$value.comment_praise}}</span>
                </div>
                <div class="yz_shortmain_modu4">{{$value.comment_text}}</div>
            </div>
        </li>
    {{/each}}
</script>