<script type="text/template" id="brandroom_template">
    {{each list}}
    <li>
        <a href="javascript:;" class="btn-type" data-id="{{$value.bra_id}}">
          {{$value.bra_name}}
        </a>
      </li>

      {{/each}}
  </script>