<script type="text/template" id="choose-template">
    {{each list}}
    <div class="movie " data-id="{{$value.movie_id}}">
        <img src="{{$value.movie_url}}" alt="">
                        </div>
{{/each}}
</script>