<!-- 热映口碑榜 -->
<script type="text/template" id="crunchies_template">
    {{each list}}
    <dd class="yz_clearfix">
        <i class="yz_board-index yz_board-index_{{$index+1}}">{{$index+1}}</i>
        <a href="/Bohemian_Rhapsody" class="yz_image_link">
            <img src="{{$value.movieRanking_cover}}" alt="" data-id="{{$value.movieRanking_id}}">
        </a>
        <div class="yz_board-item-main">
            <div class="yz_board-item-content">
                <div class="yz_movie-item-info">
                    <p class="yz_name"><a href="/Bohemian_Rhapsody">{{$value.movieRanking_name}}</a></p>
                    <p class="yz_star">{{$value.movieRanking_star}}</p>
                    <p class="yz_releasetime">上映时间：{{$value.movieRanking_releasetime}}</p>
                </div>
                <div class="yz_movie-item-number">
                    <p class="yz_score">
                        <i class="yz_integer">{{$value.movieRanking_grade1}}</i>
                        <i class="yz_fraction">{{$value.movieRanking_grade2}}</i>
                    </p>
                </div>
            </div>
        </div>
    </dd>
    {{/each}}
</script>

<!-- 最受期待榜 -->
<script type="text/template" id="crunchies_qidai_template">
    {{each list}}
    <dd class="yz_clearfix">
        <i class="yz_board-index yz_board-index_{{$index+1}}">{{$index+1}}</i>
        <a href="../views/Bohemian_Rhapsody.html" class="yz_image_link">
            <img src="{{$value.movieRanking_cover}}" alt="" data-id="{{$value.movieRanking_id}}">
        </a>
        <div class="yz_board-item-main">
            <div class="yz_board-item-content">
                <div class="yz_movie-item-info">
                    <p class="yz_name"><a href="../views/Bohemian_Rhapsody.html">{{$value.movieRanking_name}}</a></p>
                    <p class="yz_star">{{$value.movieRanking_star}}</p>
                    <p class="yz_releasetime">上映时间：{{$value.movieRanking_releasetime}}</p>
                </div>
                <div class="yz_movie-item-number">
                    <p class="yz_month-wish">
                        本月新增想看：<span>{{$value.movieRanking_want}}</span>人
                    </p>
                    <p class="yz_total-wish">
                        总想看：<span>{{$value.movieRanking_wantAll}}</span>人
                    </p>
                </div>
            </div>
        </div>
    </dd>
    {{/each}}
</script>

<!-- 国内票房榜 -->
<script type="text/template" id="crunchies_guonei_template">
    {{each list}}
    <dd class="yz_clearfix">
        <i class="yz_board-index yz_board-index_{{$index+1}}">{{$index+1}}</i>
        <a href="../views/Bohemian_Rhapsody.html" class="yz_image_link">
            <img src="{{$value.movieRanking_cover}}" alt="" data-id="{{$value.movieRanking_id}}">
        </a>
        <div class="yz_board-item-main">
            <div class="yz_board-item-content">
                <div class="yz_movie-item-info">
                    <p class="yz_name"><a href="../views/Bohemian_Rhapsody.html">{{$value.movieRanking_name}}</a></p>
                    <p class="yz_star">{{$value.movieRanking_star}}</p>
                    <p class="yz_releasetime">上映时间：{{$value.movieRanking_releasetime}}</p>
                </div>
                <div class="yz_movie-item-number">
                    <p class="yz_realtime">
                        实时票房：<span>{{$value.movieRanking_ticket}}</span>万
                    </p>
                    <p class="yz_total-boxoffice">
                        总票房：<span>{{$value.movieRanking_ticketALL}}</span>亿
                    </p>
                </div>
            </div>
        </div>
    </dd>
    {{/each}}
</script>

<!-- 北美票房榜 -->
<script type="text/template" id="crunchies_beimei_template">
    {{each list}}
    <dd class="yz_clearfix">
        <i class="yz_board-index yz_board-index_{{$index+1}}">{{$index+1}}</i>
        <a href="../views/Bohemian_Rhapsody.html" class="yz_image_link">
            <img src="{{$value.movieRanking_cover}}" alt="" data-id="{{$value.movieRanking_id}}">
        </a>
        <div class="yz_board-item-main">
            <div class="yz_board-item-content">
                <div class="yz_movie-item-info">
                    <p class="yz_name"><a href="../views/Bohemian_Rhapsody.html">{{$value.movieRanking_name}}</a></p>
                    <p class="yz_star">{{$value.movieRanking_star}}</p>
                    <p class="yz_releasetime">上映时间：{{$value.movieRanking_releasetime}}</p>
                </div>
                <div class="yz_movie-item-number">
                    <p class="yz_realtime">
                        上周末票房：<span>{{$value.movieRanking_ticket}}</span>万
                    </p>
                    <p class="yz_total-boxoffice">
                        总票房：<span>{{$value.movieRanking_ticketALL}}</span>万
                    </p>
                </div>
            </div>
        </div>
    </dd>
    {{/each}}
</script>
