<script type="text/template" id="districtroom_template">
    {{each list}}
    <li>
        <a href="javascript:;" class="btn-type" data-id="{{$value.dis_id}}">
          {{$value.dis_name}}
        </a>
      </li>
      {{/each}}
  </script>