<script type="text/template" id="filmabout-template">
  {{each list}}
        <dd>
          <img src="{{$value.show_pic}}" alt="">
          <strong>{{$value.show_name}}</strong>
          <i>{{$value.show_look}}
            <span>人想看</span>
          </i>
        </dd>
        {{/each}}     
</script>