<script type="text/template" id="film-template">
{{each list}}
<div class="film-info">
    <a href="" class="film-name">{{$value.names}}</a>
    <p class="film-address">{{$value.address}}</p>
</div>

{{/each}} 
</script>