<script type="text/template" id="left-one">
  {{each list}}
  <dd>
    <div class="move-item">
      <a href="">
        <div class="move-poster">
          <img src="{{$value.movieRanking_cover}}" alt="pikachu">
          <div class="move-overlay">
            <div class="move-info">
              <div class="move-score">
                <i class="integer">{{$value.movieRanking_grade1}}</i>
                <i class="fraction">{{$value.movieRanking_grade2}}</i>
              </div>
              <div class="move-title">{{$value.movieRanking_name}}</div>
            </div>
          </div>
        </div>
      </a>
  
      <div class="move-sale">
        <a href="" class="active">购 票</a>
      </div>
      <div class="movie-ver">
        <i class="imax3d"></i>
      </div>
    </div>
  </dd>
    {{/each}}

  </script>



<script type="text/template" id="left-two">
    {{each list}}
    <dd>
      <div class="move-item">
        <a href="">
          <div class="move-poster">
            <img src="{{$value.movieRanking_cover}}" alt="pikachu">
            <div class="move-overlay">
              <div class="move-info">
                <div class="move-title">{{$value.movieRanking_name}}</div>
              </div>
  
            </div>
          </div>
        </a>
        <div class="want-see">
          <span class="stonefont">{{$value.movieRanking_wantAll}}</span>
          人想看
        </div>
        <div class="movie-presale">
          <a href="" class="movie-presale-sep">预告片</a>
          <a href="" class="active">预售</a>
        </div>
        <div class="movie-rt">{{$value.movieRanking_releasetime}}</div>
      </div>
    </dd>
      {{/each}}
    </script>




<script type="text/template" id="left-three">
      {{each list}}
      <dd>
        <div class="move-item">
          <a href="">
            <div class="move-poster  movie-poster-long">
              <img src="./images/厉鬼将.png" alt="pikachu">
              <div class="move-overlay">
                <div class="move-info">
                  <div class="move-score">
                    <i class="integer">{{$value.movieRanking_grade1}}</i>
                    <i class="fraction">{{$value.movieRanking_grade2}}</i>
                  </div>
                  <div class="move-title">{{$value.movieRanking_name}}</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </dd>
        {{/each}}
      </script>


   




<script type="text/template" id="left-three-one">
        {{each list}}
        <dd>
          <div class="move-item">
            <a href="">
              <div class="move-poster">
                <img src="{{$value.movieRanking_cover}}" alt="pikachu">
                <div class="move-overlay">
                  <div class="move-info">
                    <div class="move-score">
                      <i class="integer">{{$value.movieRanking_grade1}}</i>
                      <i class="fraction">{{$value.movieRanking_grade2}}</i>
                    </div>
                    <div class="move-title">{{$value.movieRanking_name}}</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </dd>
       
          {{/each}}
        </script>
















<!--右边第一块 -->
<script type="text/template" id="right-one">

    {{each list}}
      <li class="ranking-item ranking-top  ran-{{$index+1}}">
        <a href="">
          <div class="ranking-top-left">
            <i class="ranking-top-icon"></i>
            <img src="./images/pkd.png" alt="">
          </div>
          <div class="ranking-top-right">
            <div class="ranking-top-right-main">
              <span class="ranking-top-moive-name">{{$value.movieRanking_name}}</span>
              <p class="ranking-top-wish">
                <span class="stonefont">{{$value.movieRanking_wantAll}}</span>万
              </p>
            </div>
          </div>
        </a>
      </li>
      {{/each}}
     
    </script>

<script type="text/template" id="right-one-two">
    {{each list}}
    <li class="ranking-item">
      <a href="">
        <span class="normal-link">
          <i class=" ran-{{$index+1}}  ranking-index">{{$index+2}}</i>
          <span class="ranking-movie-name">{{$value.movieRanking_name}}</span>
          <span class="ranking-num-infoa">
            <span class="stonefont">{{$value.movieRanking_wantAll}}</span>万
                      </span>
        </span>
      </a>
    </li>
      {{/each}}
     
    </script>




<!-- 右边第二块 -->

<script type="text/template" id="right-two-one">
      {{each list}}
      <li class="ranking-item ranking-top ranking-index-1">
          <a href="">
            <div class="ranking-top-left">
              <i class="ranking-top-icon"></i>
              <img class="ranking-img  default-img" src="{{$value.movieRanking_cover}}" alt="">
            </div>
            <div class="ranking-top-right">
              <div class="ranking-top-right-main">
                <span class="ranking-top-moive-name">{{$value.movieRanking_name}}</span>
                <p class="ranking-release-time">上映时间{{$value.movieRanking_releasetim}}</p>
                <p class="ranking-top-wish">
                  <span class="stonefont">{{$value.movieRanking_want}}</span>人想看
                </p>
              </div>
            </div>
          </a>
        </li>
        {{/each}}
       
      </script>




<script type="text/template" id="right-two-two">
        {{each list}}
        <li class="ranking-item ranking-top ranking-index-{{$index+2}} ">
          <a href="">
            <i class="ranking-indexa">{{$index+2}}</i>
            <span class="img-link">
              <img class="ranking-img default-img" src="" alt="">
            </span>
            <div class="name-link ranking-movie-name">{{$value.movieRanking_name}}</div>
            <span class="ranking-num-info">
              <span class="stonefont">{{$value.movieRanking_want}}</span>人想看
            </span>
          </a>
        </li>
          {{/each}}
         
        </script>



<script type="text/template" id="right-two-three">
          {{each list}}
          <li class="ranking-item">
            <a href="">
              <span class="normal-link">
                <i class="ranking-index  textcolor_graa">{{$index+4}}</i>
                <span class="ranking-movie-name">{{$value.movieRanking_name}}</span>
                <span class="ranking-num-info">
                  <span class="stonefont">{{$value.movieRanking_want}}</span>人想看
                </span>
              </span>
            </a>
          </li>
            {{/each}}
           
          </script>



<!--右边第三块  -->

<script type="text/template" id="right-three">

  {{each list}}
  <li class="ranking-item ranking-top ranking-index-1">
    <a href="">
      <div class="ranking-top-left">
        <i class="ranking-top-icon"></i>
        <img src="./images/pkd.png" alt="">
      </div>
      <div class="ranking-top-right">
        <div class="ranking-top-right-main">
          <span class="ranking-top-moive-name">{{$value.movieRanking_name}}</span>
          <p class="ranking-top-wish">
            <span class="stonefont">{{$value.movieRanking_grade1}}{{$value.movieRanking_grade2}}</span>分
          </p>
        </div>
      </div>
    </a>
  </li>
    {{/each}}
   
  </script>

<script type="text/template" id="right-three-two">
  {{each list}}
  <li class="ranking-item">
    <a href="">
      <span class="normal-link">
        <i class="ranking-index">{{$index+2}}</i>
        <span class="ranking-movie-name">{{$value.movieRanking_name}}</span>
        <span class="ranking-num-info">
          <span class="stonefont">{{$value.movieRanking_grade1}}{{$value.movieRanking_grade2}}</span>分
        </span>
      </span>
    </a>
  </li>
    {{/each}}
   
  </script>