<script type="text/template" id="nav_template">
  {{each lis}}
  <li>
      <a href="javascript:;" class="btn-type" data-id="{{$value.t_id}}">
        {{$value.t_name}}
      </a>
    </li>
    {{/each}}
</script>