<script type="text/template" id="personalAvatar-template">
  <img src="{{pic}}" alt="">
                    <div class="yz_upload_avatar_w yz_upload_avatar_image">
                      <input type="hidden" name="avatar" class="hid" value='{{pic}}'>
                        <input type="button" value="更换头像" class="yz_upload_avatar yz_upload_btn">
                        <input type="file" id="fileUpload" class="yz_upload_avatar2" name="avatar">
                    </div>
                    <div class="yz_tips">支持JPG,JPEG,PNG格式,且文件需小于1M</div>
</script>