<script type="text/template" id="cate_edit_template">
{{each list}}
    <div class="prodect-item" data-id='{{$value.shopping_id}}'>
        <a href="/commodity?id={{$value.shopping_id}}" target="_blank">
        <div class="product-img"><img
                src="{{$value.shopping_pic}}"
                title="{{$value.shopping_title}}"></div>
        <div class="product-info">
            <p>{{$value.shoping_namep}}</p>
            <p><strong>￥{{$value.shopping_jg}}</strong><span>￥{{$value.shopping_yj}}</span></p>
        </div>
        </a>
    </div>
{{/each}}   



</script>