<script type="text/template" id="specialroom_template">
    {{each list}}
    <li>
        <a href="javascript:;" class="btn-type" data-id="{{$value.spe_id}}">
          {{$value.spe_name}}
        </a>
      </li>
      {{/each}}
  </script>