<script type="text/template" id="year_template">
  {{each list}}
  <li>
      <a href="javascript:;" class="btn-type" data-id="{{$value.y_id}}">
        {{$value.y_year}}
      </a>
    </li>
    {{/each}}
</script>